[data-simplebar] {
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.simplebar-wrapper {
  overflow: hidden;
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit;
}

.simplebar-mask {
  direction: inherit;
  position: absolute;
  overflow: hidden;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: auto !important;
  height: auto !important;
  z-index: 0;
}

.simplebar-offset {
  direction: inherit !important;
  box-sizing: inherit !important;
  resize: none !important;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  -webkit-overflow-scrolling: touch;
}

.simplebar-content-wrapper {
  direction: inherit;
  box-sizing: border-box !important;
  position: relative;
  display: block;
  height: 100%;
  /* Required for horizontal native scrollbar to not appear if parent is taller than natural height */
  width: auto;
  max-width: 100%;
  /* Not required for horizontal scroll to trigger */
  max-height: 100%;
  /* Needed for vertical scroll to trigger */
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.simplebar-content-wrapper::-webkit-scrollbar,
.simplebar-hide-scrollbar::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

.simplebar-content:before,
.simplebar-content:after {
  content: " ";
  display: table;
}

.simplebar-placeholder {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  pointer-events: none;
}

.simplebar-height-auto-observer-wrapper {
  box-sizing: inherit !important;
  height: 100%;
  width: 100%;
  max-width: 1px;
  position: relative;
  float: left;
  max-height: 1px;
  overflow: hidden;
  z-index: -1;
  padding: 0;
  margin: 0;
  pointer-events: none;
  flex-grow: inherit;
  flex-shrink: 0;
  flex-basis: 0;
}

.simplebar-height-auto-observer {
  box-sizing: inherit;
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 1000%;
  width: 1000%;
  min-height: 1px;
  min-width: 1px;
  overflow: hidden;
  pointer-events: none;
  z-index: -1;
}

.simplebar-track {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  pointer-events: none;
  overflow: hidden;
}

[data-simplebar].simplebar-dragging .simplebar-content {
  pointer-events: none;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}

[data-simplebar].simplebar-dragging .simplebar-track {
  pointer-events: all;
}

.simplebar-scrollbar {
  position: absolute;
  left: 0;
  right: 0;
  min-height: 10px;
}

.simplebar-scrollbar:before {
  position: absolute;
  content: "";
  background: #E1E1E1;
  width: 10px;
  border-radius: 15px;
  left: 0;
  right: 0;
  opacity: 1;
  transition: opacity 0.2s linear;
}

.simplebar-scrollbar.simplebar-visible:before {
  /* When hovered, remove all transitions from drag handle */
  opacity: 1;
  transition: opacity 0s linear;
}

.simplebar-track.simplebar-vertical {
  top: 3px;
  bottom: 3px;
  width: 10px;
  background: #F5F5F5;
  border-radius: 15px;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  top: 2px;
  bottom: 2px;
}

.simplebar-track.simplebar-horizontal {
  left: 0;
  height: 10px;
  background: #F5F5F5;
  border-radius: 15px;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar:before {
  height: 100%;
  width: 100%;
  left: 2px;
  right: 2px;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
  right: auto;
  left: 0;
  top: 2px;
  height: 7px;
  min-height: 0;
  min-width: 10px;
  width: auto;
}

/* Rtl support */

[data-simplebar-direction=rtl] .simplebar-track.simplebar-vertical {
  right: auto;
  left: 0;
}

.hs-dummy-scrollbar-size {
  direction: rtl;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  height: 500px;
  width: 500px;
  overflow-y: hidden;
  overflow-x: scroll;
}

.simplebar-hide-scrollbar {
  position: fixed;
  left: 0;
  visibility: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  top: 0;
  left: 0;
  line-height: 150%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.8s ease;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1000;
}

.popup.open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.popup.open .popup__content {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.popup__body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  position: relative;
}

.popup__content {
  max-width: 680px;
  padding: 20px 30px 40px;
  position: relative;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  background: #fff;
  border-radius: 6px;
  transition: all 0.5s linear;
}

.popup__close {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
  box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.08);
  border-radius: 61px;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(50%, -50%);
}

.popup__close svg {
  width: 24px;
  height: 24px;
  stroke: #C3C3C3;
}

.lang-settings {
  max-width: 445px;
  width: 100%;
}

.lang-settings__title {
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  margin-bottom: 40px;
  border-bottom: 1px solid #EBEBEB;
  padding-bottom: 20px;
}

.lang-settings__block {
  max-width: 385px;
  width: 100%;
  position: relative;
  margin-bottom: 20px;
}

.lang-settings__block::after {
  content: "";
  position: absolute;
  top: 22px;
  right: 20px;
  width: 15px;
  height: 15px;
  -webkit-mask: url("../img/icons/icons.svg#arrow") center/contain no-repeat;
          mask: url("../img/icons/icons.svg#arrow") center/contain no-repeat;
  background: #C3C3C3;
}

.lang-settings__block.error {
  margin-bottom: 50px;
}

.lang-settings__block.error:not(:last-of-type) {
  margin-bottom: 50px;
}

.lang-settings__block.full {
  border: 1px solid #007F5F;
}

.lang-settings__block.full label {
  color: #007F5F;
}

.lang-settings__btn.popup__close {
  width: 100%;
  height: 49px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: static;
  transform: translate(0, 0);
  background: #007F5F;
  border-radius: 8px;
  box-shadow: none;
}

.lang-settings__btn.popup__close:hover {
  background: #1e9d7d;
}

.lang-settings__cancel.popup__close {
  border-radius: 8px;
  color: #C3C3C3;
  border: 2px solid #C3C3C3;
  font-size: 1.0625rem;
  position: static;
  transform: translate(0, 0);
  margin: 10px auto 0;
  width: 200px;
  height: 47px;
  display: none;
  align-items: center;
  justify-content: center;
  transition: all 0.2s linear;
  box-shadow: none;
}

.lang-settings__cancel.popup__close:hover {
  color: #fff;
  border: 2px solid #1e9d7d;
  background: #1e9d7d;
}

.reset__input.error {
  background: none;
}

.reset__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #EBEBEB;
  padding: 0 30px 20px;
  margin: 0 -30px 30px;
}

.reset__title {
  font-weight: 600;
  font-size: 1.25rem;
}

.reset__desc {
  font-size: 1.125rem;
  margin-bottom: 20px;
}

.reset__info {
  color: #C3C3C3;
  max-width: 440px;
  margin-bottom: 30px;
}

.reset__block:not(:last-child) {
  margin-bottom: 50px;
}

.reset__btns {
  display: flex;
}

.reset .popup__close {
  width: 24px;
  height: 24px;
  position: static;
  box-shadow: none;
  border-radius: 0;
  transform: translate(0, 0);
}

.reset__btn.popup__close {
  width: 215px;
  height: 49px;
  border-radius: 8px;
}

.reset__btn.popup__close.btn_green {
  color: #FFFFFF;
  background: #007F5F;
}

.reset__btn.popup__close.btn_green:hover {
  background: #1e9d7d;
}

.reset__btn.popup__close.btn_red {
  color: #FFFFFF;
  background: #E84141;
}

.reset__btn.popup__close.btn_red svg {
  stroke: #fff;
}

.reset__btn.popup__close:not(:last-child) {
  margin-right: 10px;
}

.shelf {
  padding: 20px 30px 0;
}

.shelf__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #EBEBEB;
  padding: 0 30px 20px;
  margin: 0 -30px 20px;
}

.shelf__title {
  font-weight: 600;
  font-size: 1.25rem;
}

.shelf__subtitle {
  margin-bottom: 20px;
}

.shelf__form {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.shelf__btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  border-top: 1px solid #E1E1E1;
}

.shelf .popup__close {
  width: 24px;
  height: 24px;
  position: static;
  box-shadow: none;
  border-radius: 0;
  transform: translate(0, 0);
}

.shelf__input {
  margin-bottom: 20px;
  flex: unset;
}

.shelf__input textarea {
  font-size: 1.125rem;
  resize: none;
  padding: 20px;
  border: 1px solid #EBEBEB;
  border-radius: 8px;
  width: 440px;
}

.shelf__input textarea::-moz-placeholder {
  color: #C3C3C3;
  opacity: 1;
}

.shelf__input textarea::placeholder {
  color: #C3C3C3;
  opacity: 1;
}

.shelf__input.search {
  margin-right: 0;
}

.shelf__btn.popup__close {
  width: 163px;
  height: 49px;
  border-radius: 8px;
}

.shelf__btn.popup__close.btn_green {
  color: #FFFFFF;
  background: #007F5F;
}

.shelf__btn.popup__close.btn_green:hover {
  background: #1e9d7d;
}

.shelf__btn.popup__close.btn_green.disable {
  color: #D7D7D7;
  background: rgba(0, 127, 95, 0.05);
}

.shelf__checkbox {
  margin-bottom: 30px;
}

.shelf__counter {
  color: #C3C3C3;
}

.shelf__list {
  width: 550px;
  position: relative;
  max-height: 50vh;
  overflow-y: auto;
  padding: 0 20px 40px 0;
}

.shelf__list::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 40px;
  left: 0;
  bottom: 0;
  background: linear-gradient(0deg, rgb(255, 255, 255) 15%, rgba(255, 255, 255, 0) 100%);
}

.shelf__link {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 100%;
  transition: all 0.2s linear;
  border-radius: 6px;
}

.shelf__link:hover {
  background: rgba(0, 127, 95, 0.05);
}

.shelf__current {
  margin-bottom: 30px;
  border-bottom: 1px solid #EBEBEB;
}

.shelf__image {
  width: 80px;
  min-width: 80px;
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #CCE5DF;
  border-radius: 8px;
  margin-right: 15px;
  background: #fff;
}

.shelf__image picture {
  width: 60px;
  height: 46px;
  position: relative;
}

.shelf__image img,
.shelf__image source {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.shelf__info {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.shelf__name {
  color: #000;
  font-size: 1.125rem;
  margin-bottom: 5px;
  transition: all 0.2s linear;
}

.shelf__desc {
  color: #C3C3C3;
}

.shelf__options {
  display: flex;
  align-items: center;
}

.shelf__move svg,
.shelf__delete svg {
  width: 24px;
  height: 24px;
}

.shelf__move {
  margin-right: 20px;
}

.shelf__delete svg {
  stroke: #000;
}

#new-shelf .shelf {
  max-width: 500px;
}

#shelf-order .shelf__btn {
  width: 250px;
  margin: 20px auto;
}

#add-fragrance .shelf__btn,
#current-fragrance .shelf__btn {
  width: 300px;
  margin: 20px auto;
}

#add-fragrance .shelf__list,
#current-fragrance .shelf__list {
  max-height: 50vh;
}

#add-fragrance .search-result,
#current-fragrance .search-result {
  flex: 1 1 auto;
}

#add-fragrance .search-wrapper,
#current-fragrance .search-wrapper {
  max-height: 0;
  overflow: hidden;
  transition: all 0.2s linear;
}

#current-fragrance .shelf__header {
  justify-content: center;
}

#current-fragrance .popup__close {
  position: absolute;
  right: 25px;
  top: 25px;
}

#current-fragrance .shelf__list {
  max-height: 30vh;
}

#delete-account .popup__content {
  border: 2px solid #E84141;
}

.new-popup {
  max-width: 700px;
  width: 100%;
}

.new-popup__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #EBEBEB;
  padding: 0 30px 20px;
  margin: 0 -30px 20px;
}

.new-popup__title {
  font-weight: 600;
  font-size: 1.25rem;
}

.new-popup__wrapper {
  max-height: 50vh;
  overflow-y: auto;
  padding-right: 20px;
}

.new-popup__list {
  counter-reset: item-numbers;
}

.new-popup__item {
  position: relative;
  padding-left: 50px;
  margin-bottom: 30px;
}

.new-popup__item::before {
  counter-increment: item-numbers;
  content: counter(item-numbers);
  color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  background: #007F5F;
  border-radius: 50%;
  font-size: 1.125rem;
}

.new-popup__item p {
  font-size: 1.125rem;
}

.new-popup .popup__close {
  width: 24px;
  height: 24px;
  position: static;
  box-shadow: none;
  border-radius: 0;
  transform: translate(0, 0);
}

.share {
  max-width: 420px;
  width: 100%;
}

.share .popup__close {
  width: 24px;
  height: 24px;
  stroke-width: 2px;
  position: static;
  box-shadow: none;
  border-radius: 0;
  transform: translate(0, 0);
}

.share__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #EBEBEB;
  padding: 0 30px 20px;
  margin: 0 -30px 30px;
}

.share__title {
  font-weight: 600;
  font-size: 1.25rem;
}

.share__socials {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.share__social {
  padding: 0 !important;
  width: 48px;
  height: 48px;
}

.share__social picture {
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
}

.share__social picture img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.share__social:not(:last-child) {
  margin-right: 8px;
}

.share__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 6px;
  background: #ECFFF8;
  padding: 14px 20px;
}

.share__link input {
  max-width: 261px;
  width: 100%;
  background: none;
  border: none;
  color: #C3C3C3;
  font-size: 1.125rem;
  text-overflow: ellipsis;
}

.share__link button {
  margin-left: 10px;
}

.share__link button svg {
  width: 24px;
  height: 24px;
  fill: #C3C3C3;
}

.fragrance {
  position: fixed;
  bottom: 0;
  width: 100%;
  border-radius: 6px 6px 0 0;
  padding: 20px;
}

.fragrance::before,
.fragrance::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 4px;
  border-radius: 50px;
  background: #EBEBEB;
  left: 50%;
  transform: translate(-50%, 0);
}

.fragrance::before {
  top: 10px;
}

.fragrance::after {
  bottom: 10px;
}

.fragrance__body {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  padding-bottom: 10px;
  border-bottom: 1px solid #CCE5DF;
}

.fragrance__image {
  width: 80px;
  height: 66px;
  min-width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #CCE5DF;
  overflow: hidden;
  margin-right: 15px;
}

.fragrance__image picture {
  position: relative;
  width: 100%;
  height: 100%;
}

.fragrance__image picture img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.fragrance__info {
  display: flex;
  flex-direction: column;
}

.fragrance__name {
  font-size: 1.0625rem;
  margin-bottom: 4px;
}

.fragrance__brand {
  font-size: 0.9375rem;
  color: #C3C3C3;
}

.add {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #FFF;
  box-shadow: 0px 4px 25px -1px rgba(0, 0, 0, 0.15);
  padding: 10px;
  z-index: 500;
  transform: translate(0, -200%);
  transition: all 0.5s linear;
}

.add.active {
  transform: translate(0, 0);
}

.add__body {
  display: flex;
  align-items: center;
}

.add__item {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
}

.add__image {
  width: 65px;
  height: 65px;
  min-width: 65px;
  border-radius: 8px;
  border: 1px solid #CCE5DF;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  overflow: hidden;
}

.add__image picture {
  width: 100%;
  height: 100%;
  position: relative;
}

.add__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.add__info {
  margin-right: 10px;
}

.add__text {
  margin-bottom: 8px;
}

.add__link {
  color: #2E3192;
}

.add__count {
  color: rgba(0, 0, 0, 0.4);
}

.add__btns {
  display: flex;
  align-items: center;
}

.add__btn.btn_green {
  margin-right: 20px;
}

.add__btn_close svg {
  width: 24px;
  height: 24px;
  stroke-width: 2px;
  stroke: #C3C3C3;
}

.rewards {
  padding: 20px 20px 0;
  max-width: 640px;
  width: 100%;
  display: flex;
  flex-direction: column;
  max-height: 90vh;
}

.rewards__header {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #EBEBEB;
  padding: 0 2% 20px;
  margin: 0 -20px 20px;
  position: relative;
}

.rewards__body {
  flex: 1 1 auto;
  overflow-y: auto;
  scrollbar-width: none;
}

.rewards__body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.rewards__title {
  font-weight: 600;
  font-size: 1.25rem;
  text-align: center;
}

.rewards .popup__close {
  width: 24px;
  height: 24px;
  box-shadow: none;
  border-radius: 0;
  right: 30px;
  transform: translate(0, 0);
}

.block-rewards:not(:last-child) {
  margin-bottom: 24px;
}

.block-rewards_inactive .progress-profile__btn img {
  filter: saturate(0%);
}

.block-rewards_inactive .block-rewards__count {
  background: #D1D1D1;
}

.block-rewards__header {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.block-rewards__title {
  font-size: 1.25rem;
  font-weight: 600;
}

.block-rewards__count {
  border-radius: 6px;
  background: #007F5F;
  padding: 4px 6px;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1;
  margin-left: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.block-rewards .progress-profile__list {
  flex-wrap: wrap;
  gap: 12px;
}

.block-rewards .progress-profile__item:not(:last-child) {
  margin-right: 0;
}

.block-rewards .progress-profile__btn {
  width: 73px;
  height: 73px;
}

.reward {
  padding: 0;
  max-width: 400px;
  width: 100%;
}

.reward__header {
  margin-bottom: 80px;
}

.reward__bg {
  -webkit-mask: url("../img/profile/popup-bg.svg") center/cover no-repeat;
          mask: url("../img/profile/popup-bg.svg") center/cover no-repeat;
  background: #FFEC87;
  height: 132px;
  border-radius: 6px 6px 0 0;
  overflow: hidden;
}

.reward__image {
  width: 150px;
  height: 150px;
  background: #FFEC87;
  border-radius: 50%;
  border: 5px solid #fff;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%, 0);
}

.reward__image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65%;
  height: 65%;
  -o-object-fit: contain;
     object-fit: contain;
}

.reward__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 30px 30px;
}

.reward__title {
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
}

.reward__level {
  color: #C3C3C3;
  margin-bottom: 5px;
}

.reward__status {
  color: #007F5F;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.reward__text {
  text-align: center;
}

#reward-inactive .reward__bg {
  background: #E7E7E7;
}

#reward-inactive .reward__image {
  background: #E7E7E7;
}

#reward-inactive .reward__image img {
  filter: saturate(0);
}

#reward-inactive .reward__status {
  color: #C3C3C3;
}

.feedback {
  max-width: 800px;
  width: 100%;
  padding: 20px 30px 20px;
}

.feedback__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #EBEBEB;
  padding: 0 30px 20px;
  margin: 0 -30px 20px;
}

.feedback__title {
  font-weight: 600;
  font-size: 1.25rem;
}

.feedback__body.review {
  border: none;
  padding: 0;
}

.feedback .popup__close {
  width: 24px;
  height: 24px;
  position: static;
  box-shadow: none;
  border-radius: 0;
  transform: translate(0, 0);
}

.feedback .review {
  max-height: 100% !important;
}

.feedback .review textarea {
  height: 140px !important;
  background: #fff;
}

.story {
  max-width: 350px;
  width: 100%;
  border: 12px;
  padding: 5px;
  background: rgba(255, 255, 255, 0.3);
  height: 90vh;
  max-height: 780px;
}

.story .popup__close {
  width: 24px;
  height: 24px;
  position: absolute;
  box-shadow: none;
  border-radius: 0;
  transform: translate(0, 0);
  top: 30px;
  right: 20px;
  z-index: 2;
  background: none;
}

.story .popup__close svg {
  stroke: #fff;
}

.story__slider {
  overflow: hidden;
  height: 100%;
}

.story__slide {
  height: 100%;
}

.story__item {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.story__item_style2 .story__fragrance {
  padding: 0;
  background: none;
  -webkit-backdrop-filter: unset;
          backdrop-filter: unset;
}

.story__item_style3 {
  flex-direction: column;
  background: #3F4364;
}

.story__item_style3 .story__image {
  position: relative;
  margin-bottom: 20px;
}

.story__item_style3 .story__image::after {
  display: none;
}

.story__item_style3 .story__image img {
  -o-object-fit: contain;
     object-fit: contain;
}

.story__item_style3 .story__fragrance {
  padding: 0;
  background: none;
  -webkit-backdrop-filter: unset;
          backdrop-filter: unset;
}

.story__image {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  overflow: hidden;
}

.story__image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.story__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.story__info,
.story__fragrance {
  position: relative;
  z-index: 1;
}

.story__fragrance {
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  padding: 20px;
  align-self: flex-end;
}

.story__fragrance .story__desc {
  margin-bottom: 20px;
  text-align: left;
}

.story__fragrance .story__title {
  text-align: left;
}

.story__title {
  color: #fff;
  text-align: center;
  font-family: "Rubik";
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}

.story__desc {
  color: #fff;
  font-size: 1.0625rem;
  text-align: center;
}

.story__pagination {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  z-index: 1;
}

.story__pagination .swiper-pagination-bullet {
  flex: 1 1 auto;
  height: 4px;
  background: #6A6A6A;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s linear;
  overflow: hidden;
}

.story__pagination .swiper-pagination-bullet.active {
  background: #fff;
  transition: unset;
}

.story__pagination .swiper-pagination-bullet:not(:last-child) {
  margin-right: 5px;
}

.story__pagination .swiper-pagination-bullet-active {
  position: relative;
}

.story__pagination .swiper-pagination-bullet-active::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background: #fff;
  animation: activeSlide 3.3s linear forwards;
}

.story__btn svg {
  stroke: #fff;
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

#viewer .popup__body {
  height: 100%;
  display: block;
  position: relative;
}

.viewer {
  max-width: 100%;
  height: 100%;
  padding: 40px 40px 0;
  background: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.viewer .popup__close {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  box-shadow: none;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(0, 0);
}

.viewer .popup__close svg {
  width: 32px;
  height: 32px;
  stroke: #C3C3C3;
}

.viewer__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.viewer__slider {
  height: 100% !important;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.viewer__wrapper {
  width: 100%;
  height: 100% !important;
}

.viewer__slide {
  width: 100%;
  height: 100% !important;
}

.viewer__item {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.viewer__image {
  flex: 1 1 auto;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
  margin-bottom: 20px;
  width: 100%;
}

.viewer__image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.viewer__desc {
  text-align: center;
  font-size: 1.125rem;
  color: #fff;
}

.viewer__pagination {
  font-size: 1.125rem;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

.viewer__navigation {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50);
  width: 100%;
  z-index: 1;
}

.viewer__navigation .navigation__prev {
  transform: translate(30px, 0);
}

.viewer__navigation .navigation__next {
  transform: translate(-30px, 0);
}

@keyframes activeSlide {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

.login {
  padding: 0;
  display: flex;
  max-width: 930px;
  width: 100%;
}

.login__image {
  flex: 0 0 50%;
  position: relative;
  min-height: 100%;
  width: 50%;
  background: url("../img/loading.gif") center/contain no-repeat;
}

.login__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.login__body {
  flex: 0 0 50%;
  padding: 30px;
  min-width: 0;
}

.login__title {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 20px;
}

.login__intro {
  font-size: 1.125rem;
  margin-bottom: 25px;
}

.login__socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 30px;
}

.login__social {
  width: 64px;
  height: 64px;
  border: 1px solid #EBEBEB;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}

.login__social picture {
  width: 32px;
  height: 32px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login__social img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.login__label {
  position: relative;
  color: #C3C3C3;
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.login__label::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  transform: translate(0, -50%);
  background: #C3C3C3;
}

.login__label span {
  background: #fff;
  padding: 0 20px;
  position: relative;
  z-index: 1;
}

.login .tabs__header {
  display: flex;
  position: relative;
  margin-bottom: 40px;
}

.login .tabs__item {
  flex: 1 1 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 49px;
  color: #AA9B9B;
  cursor: pointer;
  border-bottom: 1px solid #EBEBEB;
  transition: all 0.2s linear;
}

.login .tabs__item._active {
  color: #000;
  border-bottom: 3px solid #007F5F;
}

.login .tabs__body {
  position: relative;
  background: #fff;
  transition: all 0.3s linear;
}

.login .tabs__block {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s linear;
  width: 100%;
}

.login .tabs__block._active {
  opacity: 1;
  visibility: visible;
  position: relative;
}

.login__text {
  margin-bottom: 20px;
  font-size: 1.125rem;
}

.form-login__input {
  position: relative;
  border: 1px solid #C3C3C3;
  border-radius: 6px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 55px;
  transition: all 0.2s linear;
  margin-bottom: 20px;
}

.form-login__input.active {
  border: 1px solid #007F5F;
}

.form-login__input.active label {
  top: 0;
  background: #fff;
  font-size: 1rem;
  padding: 0 10px;
  left: 10px;
  color: #007F5F;
}

.form-login__input.full label {
  top: 0;
  background: #fff;
  font-size: 1rem;
  padding: 0 10px;
  left: 10px;
  color: #C3C3C3;
}

.form-login__input.full.active label {
  color: #007F5F;
}

.form-login__input.error {
  border: 1px solid #E84141;
  margin-bottom: 40px;
  background: none;
}

.form-login__input.error .form-login__error {
  opacity: 1;
  visibility: visible;
}

.form-login__input.error label {
  color: #E84141;
}

.form-login__input.error.active label {
  color: #E84141;
}

.form-login__input input {
  flex: 1 1 auto;
  border: none;
}

.form-login__input label {
  font-size: 1.125rem;
  color: #C3C3C3;
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translate(0, -50%);
  pointer-events: none;
  transition: all 0.2s linear;
}

.form-login__error {
  color: #E84141;
  font-size: 1.125rem;
  position: absolute;
  top: 110%;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s linear;
}

.form-login__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-login__forgot {
  color: #C3C3C3;
  transition: all 0.2s linear;
}

.form-login__forgot:hover {
  color: #A5A5A5;
}

.form-login__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

.form-login__next {
  width: 100%;
  margin-bottom: 10px;
}

.form-login__cancel.popup__close {
  border-radius: 8px;
  color: #C3C3C3;
  border: 2px solid #C3C3C3;
  font-size: 1.0625rem;
  position: static;
  transform: translate(0, 0);
  margin: 0 auto 10px;
  width: 200px;
  height: 47px;
  display: none;
  align-items: center;
  justify-content: center;
  transition: all 0.2s linear;
  box-shadow: none;
}

.form-login__cancel.popup__close:hover {
  color: #fff;
  border: 2px solid #1e9d7d;
  background: #1e9d7d;
}

.mob-login {
  display: none;
}

.mob-login__slider {
  overflow: hidden;
  width: 100%;
}

.mob-login__slide {
  padding: 5px;
}

.pass {
  padding-right: 10px;
}

.pass__btn {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pass__btn:hover svg {
  stroke: #000;
}

.pass__btn svg {
  width: 24px;
  height: 24px;
  stroke-width: 2px;
  stroke: #c3c3c3;
  transition: all 0.2s linear;
}

#restore .login {
  max-width: 450px;
}

#restore .login__body {
  flex: 1 1 100%;
}

.checkbox {
  padding-left: 34px;
  position: relative;
  cursor: pointer;
}

.checkbox::before {
  position: absolute;
  top: 0;
  left: 0;
  content: " ";
  width: 24px;
  height: 24px;
  background: #fff;
  border: 2px solid #000000;
  border-radius: 5px;
  transition: all 0.3s linear;
}

.checkbox::after {
  content: " ";
  position: absolute;
  top: -7px;
  left: -7px;
  width: 40px;
  height: 40px;
  -webkit-mask: url("../img/icons/icons.svg#check") center/contain no-repeat;
          mask: url("../img/icons/icons.svg#check") center/contain no-repeat;
  border: 2px solid #007F5F;
  background: #fff;
  opacity: 0;
  transform: scale(0);
  transition: all 0.3s linear;
}

.checkbox.active::before {
  background: #007F5F;
  border: 2px solid #007F5F;
}

.checkbox.active::after {
  opacity: 1;
  transform: scale(1);
}

.checkbox input {
  display: none;
}

.alert__error {
  color: #E84141;
  display: flex;
  align-items: center;
  padding: 20px;
  font-size: 1.125rem;
  position: absolute;
  bottom: 100%;
  transform: translate(0, -50%);
  right: 0;
  background: #FFFFFF;
  border-left: 3px solid #E84141;
  box-shadow: 0px 2px 22px rgba(0, 0, 0, 0.12);
  border-radius: 6px;
  transition: all 0.3s linear;
  opacity: 0;
  visibility: hidden;
  z-index: 200;
}

.alert__error.active {
  opacity: 1;
  visibility: visible;
}

.alert__error svg {
  width: 24px;
  height: 24px;
  stroke: #E84141;
  stroke-width: 2px;
  margin-right: 15px;
}

.alert__sent {
  padding: 20px;
  font-size: 1.125rem;
  position: absolute;
  bottom: 100%;
  transform: translate(0, -50%);
  right: 0;
  background: #FFFFFF;
  border-left: 3px solid #007F5F;
  box-shadow: 0px 2px 22px rgba(0, 0, 0, 0.12);
  border-radius: 6px;
  transition: all 0.3s linear;
  opacity: 0;
  visibility: hidden;
  z-index: 200;
}

.alert__sent span {
  color: #007F5F;
  margin: 0 3px;
}

.alert__sent.active {
  opacity: 1;
  visibility: visible;
}

.user-menu {
  flex: 0 0 342px;
  width: 342px;
}

.user-menu__item {
  border-radius: 8px;
  border: 2px solid #fff;
  transition: all 0.2s linear;
}

.user-menu__item:hover {
  background: rgba(0, 127, 95, 0.05);
}

.user-menu__item.active {
  background: #ECFFF8;
  border: 2px solid #007F5F;
}

.user-menu__item.active .user-menu__link svg {
  stroke: #007F5F;
}

.user-menu__item.active .user-menu__link svg.fill {
  stroke: none;
  fill: #007F5F;
  stroke: #007F5F;
}

.user-menu__item.active span:not(:first-of-type) {
  background: #007F5F;
}

.user-menu__item span:first-of-type {
  flex: 1 1 auto;
}

.user-menu__item span:not(:first-of-type) {
  color: #FFFFFF;
  font-size: 0.875rem;
  font-weight: 500;
  padding: 3px 6px;
  background: #D1D1D1;
  border-radius: 6px;
  margin-left: 15px;
  line-height: 1;
}

.user-menu__link {
  padding: 16px 20px;
  color: #000;
  font-size: 1.125rem;
  display: flex;
  align-items: center;
}

.user-menu__link svg {
  width: 24px;
  height: 24px;
  stroke: #C3C3C3;
  stroke-width: 2px;
  margin-right: 15px;
}

.user-menu__link svg.fill {
  stroke: #C3C3C3;
  fill: #C3C3C3;
  stroke-width: 1px;
}

.tabs {
  position: relative;
}

.tabs__header {
  display: flex;
  margin-bottom: 30px;
  min-width: 100%;
  max-width: 250px;
  border-bottom: 1px solid #EBEBEB;
  overflow-x: auto;
  scrollbar-width: none;
}

.tabs__header::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.tabs__item {
  display: flex;
  justify-content: center;
  padding: 12px 20px;
  cursor: pointer;
  transition: all 0.2s linear;
  color: #AA9B9B;
  font-size: 1.125rem;
  white-space: nowrap;
}

.tabs__item:hover {
  background: rgba(0, 127, 95, 0.05);
}

.tabs__item sup {
  font-size: 0.75rem;
  margin-left: 3px;
}

.tabs__item._active {
  color: #000;
  border-bottom: 3px solid #007F5F;
}

.tabs__body {
  position: relative;
  background: #fff;
  transition: all 0.3s linear;
}

.tabs__block {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s linear;
  width: 100%;
}

.tabs__block._active {
  opacity: 1;
  visibility: visible;
  position: relative;
}

.search-form {
  margin-bottom: 30px;
}

.search-form__input {
  background: #FFFFFF;
  border: 1px solid #EBEBEB;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 15px 20px;
  margin-bottom: 10px;
}

.search-form__input input {
  width: 50px;
  flex: 1 1 auto;
  border: none;
  font-size: 1.125rem;
}

.search-form__input input::-moz-placeholder {
  color: #C5C5C5;
  opacity: 1;
}

.search-form__input input::placeholder {
  color: #C5C5C5;
  opacity: 1;
}

.search-form__input button {
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-form__input button svg {
  width: 24px;
  height: 24px;
  stroke: #C5C5C5;
}

.search-form__btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 250px;
  min-width: 100%;
  overflow-x: auto;
  scrollbar-width: none;
}

.search-form__btns::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.search-form__btn {
  color: #C3C3C3;
  font-weight: 600;
  transition: all 0.2s linear;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  line-height: 1;
}

.search-form__btn svg {
  width: 20px;
  height: 20px;
  stroke: #C3C3C3;
  stroke-width: 2px;
  transition: all 0.2s linear;
}

.search-form__btn:hover {
  color: #A5A5A5;
}

.search-form__btn:hover svg {
  stroke: #A5A5A5;
}

.footer {
  background: #007F5F;
  border-top: 1px solid #E1E1E1;
}

.footer__body {
  padding-top: 60px;
  position: relative;
}

.footer__top {
  display: flex;
}

.footer__middle {
  display: flex;
  padding: 60px 0;
}

.footer__bottom {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  border-top: 1px solid #FFFFFF;
}

.socials {
  margin-right: 75px;
}

.socials__title {
  font-weight: 600;
  font-size: 1.125rem;
  color: #FFFFFF;
  margin-bottom: 15px;
}

.socials__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.socials__item {
  margin-bottom: 10px;
}

.socials__item:not(:last-child) {
  margin-right: 10px;
}

.socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background: #ECFFF8;
  border: 0.8px solid #EBEBEB;
  border-radius: 5px;
  transition: all 0.2s linear;
}

.socials__link:hover {
  transform: scale(0.9);
}

.socials__link picture {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  position: relative;
}

.socials__link picture img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.subscribe {
  flex: 1 1 auto;
}

.subscribe__title {
  font-weight: 600;
  font-size: 1.125rem;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.subscribe__form {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 2px 22px rgba(0, 127, 95, 0.25);
  border-radius: 6px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.subscribe__form.active::after {
  animation: unset;
}

.subscribe__form::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -100px;
  width: 45px;
  height: 200%;
  transform: translate(0, -50%) rotate(30deg);
  background: rgba(0, 127, 95, 0.1);
  animation: highlight 5s linear infinite;
}

.subscribe__form input {
  font-size: 1.125rem;
  background: none;
  border: none;
  padding: 0 20px;
  flex: 1 1 auto;
}

.subscribe__form input::-moz-placeholder {
  color: #C3C3C3;
}

.subscribe__form input::placeholder {
  color: #C3C3C3;
}

.subscribe__input {
  background: #ECFFF8;
  border: 2px solid transparent;
}

.subscribe__input.active {
  border: 2px solid transparent;
}

.subscribe__input.error {
  border: 2px solid #E84141;
}

.subscribe__input.error .subscribe__btn svg {
  stroke: #E84141;
}

.subscribe__input.error input {
  color: #E84141;
  transition: all 0.2s linear;
}

.subscribe__input.error input::-moz-placeholder {
  color: #E84141;
}

.subscribe__input.error input::placeholder {
  color: #E84141;
}

.subscribe__btn {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subscribe__btn:hover svg {
  stroke: #000;
}

.subscribe__btn svg {
  width: 100%;
  height: 100%;
  stroke: #C3C3C3;
  stroke-width: 2px;
  transition: all 0.2s linear;
}

.links-footer {
  flex: 0 0 20%;
}

.links-footer:first-child {
  flex: 1 1 auto;
}

.links-footer:first-child .links-footer__list {
  -moz-columns: 2 150px;
       columns: 2 150px;
}

.links-footer:not(:last-child) {
  margin-right: 10px;
}

.links-footer__title {
  font-weight: 600;
  font-size: 1.125rem;
  color: #FFFFFF;
  position: relative;
  margin-bottom: 37px;
}

.links-footer__title._active::before {
  transform: translate(0, -50%) rotate(180deg);
}

.links-footer__title::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  width: 24px;
  height: 24px;
  -webkit-mask: url("../img/icons/icons.svg#arrow") center/contain no-repeat;
          mask: url("../img/icons/icons.svg#arrow") center/contain no-repeat;
  background: #fff;
  transition: all 0.2s linear;
  display: none;
}

.links-footer__title::after {
  content: "";
  position: absolute;
  top: 150%;
  left: 0;
  width: 40px;
  height: 2px;
  background: #fff;
}

.links-footer__item:not(:last-child) {
  margin-bottom: 20px;
}

.links-footer__link {
  font-size: 1.125rem;
  color: #FFFFFF;
  position: relative;
}

.links-footer__link:hover::after {
  width: 100%;
  transform: translate(0, 0);
  left: 0;
}

.links-footer__link::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  width: 0;
  height: 1px;
  background: #fff;
  transition: all 0.2s linear;
}

.rights {
  flex: 1 1 auto;
  color: #FFFFFF;
  margin: 0 15px 15px 0;
}

.rights span {
  position: relative;
}

.rights span:first-child {
  text-transform: uppercase;
}

.rights span:not(:last-child) {
  margin-right: 36px;
}

.rights span:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -22px;
  transform: translate(0, -50%);
  width: 4px;
  height: 4px;
  background: #fff;
  border-radius: 50%;
}

.docs {
  display: flex;
  flex-wrap: wrap;
}

.docs__link {
  color: #FFFFFF;
  position: relative;
  margin-bottom: 15px;
}

.docs__link:last-child {
  margin-bottom: 20px;
}

.docs__link:not(:last-child) {
  margin-right: 36px;
}

.docs__link:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -22px;
  transform: translate(0, -50%);
  width: 4px;
  height: 4px;
  background: #fff;
  border-radius: 50%;
}

.menu-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 12px 0;
  border-top: 1px solid #ebebeb;
  box-shadow: 0 -0.5px 19px rgba(0, 0, 0, 0.11);
  display: none;
  align-items: center;
  background: #fff;
  z-index: 100;
}

.menu-footer__btn {
  flex: 0 0 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.875rem;
  color: #007F5F;
}

.menu-footer__btn svg {
  width: 24px;
  height: 24px;
  fill: #007F5F;
}

@keyframes highlight {
  0% {
    left: -100px;
    opacity: 1;
    visibility: visible;
  }

  20% {
    left: 120%;
    opacity: 1;
    visibility: visible;
  }

  21% {
    left: 120%;
    opacity: 0;
    visibility: hidden;
  }

  22% {
    left: -100px;
    opacity: 0;
    visibility: hidden;
  }

  30% {
    left: -100px;
    opacity: 1;
    visibility: visible;
  }
}

@media (max-width: 1000px) {
  .login__image {
    flex: 1 1 auto;
  }

  .login__body {
    flex: 0 0 465px;
  }

  .user-menu {
    flex: unset;
    width: 100%;
    transition: all 0.2s linear;
    max-height: 0;
    overflow: hidden;
  }

  .user-menu__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 8px;
  }

  .user-menu__item {
    border: 1.5px solid #EBEBEB;
  }

  .user-menu__item.active {
    border: 1.5px solid #007F5F;
  }

  .user-menu__item span:not(:first-of-type) {
    margin-left: 12px;
  }

  .user-menu__link {
    font-size: 1.0625rem;
    padding: 15px;
  }

  .user-menu__link svg {
    margin-right: 12px;
  }

  .socials {
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .shelf {
    width: 100%;
  }

  .shelf__input textarea {
    width: 100%;
  }

  .shelf__list {
    width: 100%;
  }

  .rewards {
    width: 100%;
  }

  .login {
    max-width: 465px;
  }

  .login__image {
    display: none;
  }

  .login__body {
    flex: 1 1 auto;
  }

  .user-menu__list {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer {
    padding-bottom: 68px;
  }

  .footer__top {
    flex-direction: column;
  }

  .footer__middle {
    flex-direction: column;
  }

  .socials {
    margin-right: 0;
  }

  .links-footer:not(:last-child) {
    margin-right: 0;
  }

  .links-footer__title {
    cursor: pointer;
  }

  .links-footer__title::before {
    display: block;
  }

  .links-footer__title::after {
    width: 100%;
  }

  .links-footer__list {
    margin-bottom: 30px;
  }

  .rights {
    margin-bottom: 10px;
  }

  .docs__link {
    margin-bottom: 10px;
  }

  .menu-footer {
    display: flex;
  }
}

@media (max-width: 576px) {
  .reset__btns {
    flex-direction: column;
  }

  .reset__btn.popup__close {
    width: 100%;
  }

  .reset__btn.popup__close:not(:last-child) {
    margin: 0 0 10px;
  }

  .shelf__name {
    font-size: 1.0625rem;
  }

  .shelf__desc {
    font-size: 0.9375rem;
  }

  .shelf__move {
    margin-right: 10px;
  }

  .add__image {
    display: none;
  }

  .add__link {
    display: none;
  }

  .add__count {
    display: none;
  }

  .add__btn.btn_green {
    display: none;
  }
}

@media (max-width: 480px) {
  .popup__body {
    padding: 15px;
  }

  .lang-settings__cancel.popup__close {
    display: flex;
  }

  .lang-settings__close {
    display: none;
  }

  .reset {
    padding: 20px 15px;
  }

  .reset__header {
    margin: 0 -15px 30px;
  }

  .reset__desc {
    font-size: 1.0625rem;
  }

  .shelf {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: 6px 6px 0 0;
    padding: 20px 15px 0;
  }

  .shelf__input textarea {
    font-size: 1.0625rem;
  }

  .shelf__image {
    width: 60px;
    min-width: 60px;
    height: 50px;
  }

  .new-popup__item::before {
    font-size: 1.0625rem;
  }

  .new-popup__item p {
    font-size: 1.0625rem;
  }

  .share {
    position: fixed;
    bottom: 0;
    max-width: 100%;
    border-radius: 6px 6px 0 0;
    padding: 20px;
  }

  .reward .popup__close {
    width: 24px;
    height: 24px;
    box-shadow: none;
    border-radius: 0;
    right: 20px;
    top: 20px;
    transform: translate(0, 0);
    background: none;
  }

  .reward .popup__close svg {
    stroke: #000;
  }

  .feedback {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 0;
    padding: 20px 20px 20px;
    height: 100%;
    overflow-y: auto;
    scrollbar-width: none;
  }

  .feedback::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  .feedback__header {
    padding: 0 20px 20px;
    margin: 0 -20px 20px;
  }

  #story .popup__body {
    padding: 0;
  }

  .story {
    max-width: unset;
    width: 100vw;
    max-height: unset;
    height: var(--app-height);
    border-radius: 0;
  }

  .story__item {
    padding: 10px;
  }

  .viewer__desc {
    font-size: 1.0625rem;
  }

  .viewer__pagination {
    font-size: 1.0625rem;
  }

  .login__body {
    padding: 20px;
  }

  .login__social {
    width: 52px;
    height: 52px;
  }

  .login__social picture {
    width: 24px;
    height: 24px;
  }

  .login .tabs__block:nth-child(2) .login__form {
    display: none;
  }

  .login__close {
    display: none;
  }

  .login__text {
    font-size: 1.0625rem;
  }

  .form-login__error {
    font-size: 1.0625rem;
  }

  .form-login__btn {
    margin-bottom: 10px;
  }

  .form-login__cancel.popup__close {
    display: flex;
  }

  .mob-login {
    display: block;
  }

  .alert__error {
    padding: 10px;
    font-size: 1.0625rem;
  }

  .alert__sent {
    padding: 10px;
    font-size: 1.0625rem;
  }

  .user-menu__list {
    display: flex;
    flex-direction: column;
    grid-gap: unset;
    background: #fff;
  }

  .user-menu__item {
    border-radius: 0;
  }

  .user-menu__item.active {
    display: none;
  }

  .search-form__input input {
    font-size: 1.0625rem;
  }

  .socials__title {
    font-size: 1.0625rem;
  }

  .subscribe__title {
    font-size: 1.0625rem;
  }

  .subscribe__form input {
    font-size: 1.0625rem;
  }

  .links-footer:first-child .links-footer__list {
    -moz-columns: unset;
         columns: unset;
  }

  .links-footer__title {
    font-size: 1.0625rem;
  }

  .links-footer__item:not(:last-child) {
    margin-bottom: 16px;
  }

  .links-footer__link {
    font-size: 1.0625rem;
  }
}

@media (max-width: 440px) {
  .reset__block:not(:last-child) {
    margin-bottom: 60px;
  }
}

@media (max-width: 360px) {
  .socials__list {
    max-width: 270px;
  }
}