@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400%3b500%3b600&family=Rubik:wght@400%3b500%3b600&display=swap");

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

body {
  min-height: 100vh;
  min-width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

ul li,
ol li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

:root {
  --app-height: 100%;
}

body {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  color: #000;
}

body._lock,
body.lock {
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100vw;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.container {
  max-width: 1236px;
  margin: 0 auto;
  padding: 0 10px;
}

.title1 {
  font-family: "Rubik";
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
}

.title2 {
  font-family: "Rubik";
  font-weight: 500;
  font-size: 1.75rem;
  text-align: center;
}

.title3 {
  font-family: "Rubik";
  font-weight: 600;
  font-size: 1.375rem;
  text-align: center;
}

.read-more {
  font-size: 1.125rem;
  color: #007F5F;
  position: relative;
  transition: all 0.2s linear;
}

.read-more.disable {
  display: none;
}

.read-more:hover {
  color: #1e9d7d;
}

.read-more:hover::after {
  background: #1e9d7d;
}

.read-more::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -20px;
  transform: translate(0, -50%);
  width: 20px;
  height: 20px;
  -webkit-mask: url("../img/icons/icons.svg#arrow") center/contain no-repeat;
          mask: url("../img/icons/icons.svg#arrow") center/contain no-repeat;
  background: #007F5F;
  transition: all 0.2s linear;
}

.btn_green {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 18px;
  font-size: 1.125rem;
  color: #FFFFFF;
  background: #007F5F;
  border-radius: 8px;
  transition: all 0.2s linear;
}

.btn_green:hover {
  background: #1e9d7d;
}

.btn_green svg {
  width: 24px;
  height: 24px;
  stroke: #fff;
  stroke-width: 2px;
  margin-right: 8px;
}

.btn_green.disable {
  pointer-events: none;
  color: #D7D7D7;
  background: rgba(0, 127, 95, 0.05);
}

.btn_white {
  padding: 12px 18px;
  border: 2px solid #007F5F;
  border-radius: 8px;
  color: #007F5F;
  font-size: 1.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s linear;
}

.btn_white:hover {
  background: #1e9d7d;
  border: 2px solid #1e9d7d;
  color: #fff;
}

.btn_grey {
  padding: 12px 18px;
  border: 2px solid #C3C3C3;
  border-radius: 8px;
  color: #C3C3C3;
  font-size: 1.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s linear;
}

.btn_grey:hover {
  background: #1e9d7d;
  color: #fff;
}

.btn_red {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 18px;
  font-size: 1.125rem;
  color: #FFFFFF;
  background: #E84141;
  border-radius: 8px;
  transition: all 0.2s linear;
}

.btn_red svg {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  stroke: #fff;
  stroke-width: 2px;
}

.btn_icon {
  padding: 12px 18px;
  background: rgba(255, 255, 255, 0.5);
  border: 2px solid #EBEBEB;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s linear;
  font-size: 1.125rem;
}

.btn_icon:hover {
  border: 2px solid #007F5F;
}

.btn_icon svg {
  width: 32px;
  height: 32px;
  stroke-width: 1.5px;
  stroke: #000;
  transition: all 0.2s linear;
}

.btn_favorite svg {
  stroke-width: 0.5px;
  stroke: #000;
  fill: #000;
}

.btn_favorite svg:nth-of-type(2) {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s linear;
}

.btn_favorite.active svg {
  fill: #007F5F;
  stroke: #007F5F;
}

.btn_favorite.active svg:nth-of-type(2) {
  opacity: 1;
  visibility: visible;
}

.btn_cancel {
  padding: 12px 18px;
  border-radius: 8px;
  color: #C3C3C3;
  font-size: 1.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s linear;
}

.btn_cancel:hover {
  background: #007F5F;
  color: #fff;
}

.navigation {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  display: flex;
  justify-content: space-between;
}

.navigation__prev,
.navigation__next {
  width: 30px;
  height: 100px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.3s linear;
}

.navigation__prev:hover,
.navigation__next:hover {
  background: #F2F8F7;
}

.navigation__prev svg,
.navigation__next svg {
  width: 20px;
  height: 20px;
  stroke: #000;
}

.navigation__prev.swiper-button-disabled,
.navigation__next.swiper-button-disabled {
  pointer-events: none;
}

.navigation__prev.swiper-button-disabled svg,
.navigation__next.swiper-button-disabled svg {
  stroke: #C5C5C5;
}

.navigation__prev {
  transform: translate(-15px, 0);
}

.navigation__prev svg {
  transform: rotate(90deg);
}

.navigation__next {
  transform: translate(15px, 0);
}

.navigation__next svg {
  transform: rotate(-90deg);
}

.scrollbar {
  width: 100%;
  height: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #F5F5F5;
  border-radius: 15px;
}

.scrollbar .swiper-scrollbar-drag {
  background: #E1E1E1;
  border-radius: 15px;
  height: 100%;
}

.rating {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  line-height: 1;
  letter-spacing: 2px;
}

.rating__body {
  position: relative;
  width: 108px;
  height: 20px;
  -webkit-mask: url("../img/icons/star-rating.svg") 0 0/22px 20px repeat-x;
          mask: url("../img/icons/star-rating.svg") 0 0/22px 20px repeat-x;
  background: #DDE5D3;
}

.rating__active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  -webkit-mask: url("../img/icons/star-rating.svg") 0 0/22px 20px repeat-x;
          mask: url("../img/icons/star-rating.svg") 0 0/22px 20px repeat-x;
  background: #FFD600;
}

.rating__items {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating__item {
  flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.rating__value {
  display: none;
  font-size: 50%;
  line-height: 1;
  padding: 0 0 0 10px;
}

.rating__count {
  display: none;
  color: #FFD600;
  font-size: 0.9375rem;
}

.progress-count .progress__bar {
  background: none;
  display: flex;
  gap: 5px;
}

.progress-count span {
  flex: 1 1 20%;
  border-radius: 6px;
  height: 100%;
  background: #EAEEED;
}

.progress-count span.fill {
  background: #3CBB9B;
}

.progress__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}

.progress__bar {
  background: #EAEEED;
  border-radius: 6px;
  height: 10px;
  width: 100%;
  position: relative;
}

.progress__fill {
  background: #3CBB9B;
  border-radius: 6px;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0;
}

.radio-options__item {
  padding-left: 40px;
  position: relative;
  cursor: pointer;
}

.radio-options__item:not(:last-child) {
  margin-bottom: 15px;
}

.radio-options__item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid #C3C3C3;
  transition: all 0.2s linear;
}

.radio-options__item::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 0;
  width: 24px;
  height: 24px;
  -webkit-mask: url("../img/icons/icons.svg#check-icon") center/cover no-repeat;
          mask: url("../img/icons/icons.svg#check-icon") center/cover no-repeat;
  background: #fff;
  opacity: 0;
  transform: translate(0, -50%) scale(0);
  transition: all 0.2s linear;
}

.radio-options__item._active::before {
  background: #007F5F;
  border: 2px solid #007F5F;
}

.radio-options__item._active::after {
  transform: translate(0, -50%) scale(1);
  opacity: 1;
}

.radio-options input {
  display: none;
}

.clear {
  clear: both;
}

.prompt {
  padding: 12px;
  box-shadow: 0 -2px 22px rgba(0, 0, 0, 0.12);
  background: #fff;
  position: absolute;
  top: 150%;
  right: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translate(0, 20px);
  transition: all 0.2s linear;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 8px;
}

.prompt::after {
  content: "";
  position: absolute;
  bottom: 100%;
  right: 12px;
  border-bottom: 10px solid #fff;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.require__error {
  font-size: 1.125rem;
  color: #E84141;
  display: none;
  margin-bottom: 20px;
}

.require .range-single__progress {
  background: #c3c3c3;
}

.require .range-single__value {
  opacity: 0;
}

.require.active .range-single__progress {
  background: #3cbb9b;
}

.require.error .require__error {
  display: block;
}

.header__main {
  position: relative;
  background: #FFFFFF;
  border: 1px solid #EBEBEB;
  z-index: 101;
}

.header__body {
  height: 89px;
  display: flex;
  align-items: center;
  position: relative;
}

.header__body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 50;
  display: none;
}

.header__logo {
  display: flex;
  height: 30px;
  width: 130px;
  margin-right: 70px;
  z-index: 100;
}

.header__logo svg {
  height: 100%;
  max-width: 100%;
}

.header__options {
  display: flex;
  margin-left: 100px;
}

.header__login {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 24px;
  max-width: 75px;
  color: #000;
  font-size: 1.125rem;
  transition: all 0.2s linear;
  z-index: 100;
}

.header__login:hover {
  color: #007F5F;
}

.header__login:hover svg {
  stroke: #007F5F;
}

.header__login svg {
  height: 100%;
  max-width: 100%;
  stroke: #000;
  transition: all 0.2s linear;
}

.lang {
  background: #007F5F;
  position: relative;
  z-index: 150;
}

.lang__body {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 54px;
}

.lang__btn {
  color: #FFFFFF;
  display: flex;
  align-items: center;
}

.lang__btn:not(:last-child) {
  margin-right: 40px;
}

.lang__btn svg {
  fill: #fff;
  width: 24px;
  height: 24px;
  margin-right: 5px;
}

.menu {
  flex: 1 1 auto;
}

.menu__icon {
  position: relative;
  height: 18px;
  width: 18px;
  margin: 0 15px 0 5px;
  display: none;
  z-index: 100;
}

.menu__icon::before,
.menu__icon::after {
  content: "";
  position: absolute;
  transition: all 0.2s linear;
  width: 100%;
  height: 2px;
  left: 0;
  border-radius: 2px;
  background: #000;
}

.menu__icon::before {
  top: 4px;
}

.menu__icon::after {
  bottom: 4px;
}

.menu__icon._active::before {
  transform: rotate(45deg);
  top: 8px;
}

.menu__icon._active::after {
  transform: rotate(-45deg);
  bottom: 8px;
}

.menu__icon:hover::before,
.menu__icon:hover::after {
  background: #007F5F;
}

.menu__list {
  display: flex;
  justify-content: space-around;
}

.menu__item {
  position: relative;
  padding: 10px 0;
  cursor: pointer;
}

.menu__item.active .menu__link {
  font-weight: 500;
  color: #007F5F;
}

.menu__item:hover .menu__link {
  color: #007F5F;
}

.menu__item:hover .menu__sub-list {
  opacity: 1;
  transform: translate(0, 0);
  visibility: visible;
  pointer-events: all;
}

.menu__item_sub {
  position: relative;
  padding-right: 20px;
}

.menu__item_sub::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  transform: translate(0, -50%);
  right: 0;
  -webkit-mask: url("../img/icons/icons.svg#arrow") center/contain no-repeat;
          mask: url("../img/icons/icons.svg#arrow") center/contain no-repeat;
  background: #000;
  transition: all 0.2s linear;
}

.menu__item_sub:hover::after {
  transform: translate(0, -50%) rotate(-180deg);
  background: #007F5F;
}

.menu__link {
  color: #000;
  font-size: 1.125rem;
  transition: all 0.3s linear;
  display: flex;
  align-items: center;
}

.menu__link span {
  flex: 1 1 auto;
}

.menu__link svg {
  width: 24px;
  height: 24px;
  margin-right: 16px;
  display: none;
}

.menu__link svg:last-child {
  stroke: #EBEBEB;
  stroke-width: 2px;
}

.menu__sub-list {
  position: absolute;
  right: 0;
  top: 100%;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 250px;
  opacity: 0;
  transform: translate(0, 10px);
  visibility: hidden;
  pointer-events: none;
  transition: all 0.2s linear;
  background: #FFFFFF;
  box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
}

.menu__sub-item {
  padding: 12px 20px;
}

.menu__sub-item:hover .menu__sub-link {
  color: #007F5F;
}

.menu__sub-link {
  color: #000;
  font-size: 1.125rem;
  transition: all 0.3s linear;
  display: flex;
  align-items: center;
}

.menu__sub-link span {
  flex: 1 1 auto;
}

.menu__sub-link svg {
  width: 24px;
  height: 24px;
  margin-right: 16px;
  display: none;
}

.menu__sub-link svg:last-child {
  stroke: #EBEBEB;
  stroke-width: 2px;
}

.menu__title {
  display: none;
}

.notifications-header {
  position: relative;
  margin-right: 48px;
  z-index: 100;
  display: flex;
  align-items: center;
  height: 50px;
}

.notifications-header.active .notifications-header__link::after {
  display: block;
}

.notifications-header__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  position: relative;
}

.notifications-header__link::after {
  content: "";
  position: absolute;
  top: 0;
  right: 2px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #2e3192;
  display: none;
}

.notifications-header__link:hover svg {
  stroke: #007F5F;
}

.notifications-header__link svg {
  width: 100%;
  height: 100%;
  stroke-width: 2px;
  stroke: #000;
  transition: all 0.2s linear;
}

.notifications-header__help {
  position: absolute;
  top: 100%;
  right: 0;
  background: #FFFFFF;
  box-shadow: 0px 2px 22px rgba(0, 0, 0, 0.12);
  border-radius: 6px;
  padding: 20px;
  font-size: 1.125rem;
  display: block;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translate(0, 20px);
  transition: all 0.2s linear;
  color: #000;
  min-width: 250px;
}

.notifications-header__help span {
  color: #007f5f;
}

.login-header {
  position: relative;
  z-index: 100;
  display: flex;
  align-items: center;
  height: 50px;
}

.login-header__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s linear;
  font-size: 1.125rem;
}

.login-header__btn:hover {
  color: #007F5F;
}

.login-header__btn:hover svg {
  stroke: #007F5F;
}

.login-header__btn svg {
  width: 24px;
  height: 24px;
  stroke-width: 2px;
  stroke: #000;
  transition: all 0.2s linear;
}

.login-header__help {
  position: absolute;
  top: 100%;
  right: 0;
  background: #FFFFFF;
  box-shadow: 0px 2px 22px rgba(0, 0, 0, 0.12);
  border-radius: 6px;
  padding: 20px;
  font-size: 1.125rem;
  display: block;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translate(0, 20px);
  transition: all 0.2s linear;
  color: #000;
  width: 400px;
}

.login-header__help p {
  margin-bottom: 20px;
}

.login-header__reg {
  font-size: 1.125rem;
  color: #FFFFFF;
  background: #007F5F;
  border-radius: 8px;
  padding: 12px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-header {
  display: flex;
  align-items: center;
}

.user-header__image {
  width: 40px;
  height: 40px;
  min-width: 40px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  z-index: 100;
}

.user-header__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu-user {
  position: absolute;
  top: 100%;
  right: 0;
  min-width: 350px;
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 50px);
  transition: all 0.2s linear;
  z-index: 200;
}

.menu-user.active {
  opacity: 1;
  visibility: visible;
  transform: translate(0, 0);
}

.menu-user__wrapper {
  position: relative;
  z-index: 100;
  background: #fff;
  padding: 10px 20px;
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.12);
  border-radius: 6px;
  transition: all 0.2s linear;
  display: flex;
  flex-direction: column;
  max-height: 80vh;
}

.menu-user__body {
  overflow-y: auto;
  max-height: 100%;
  scrollbar-width: none;
}

.menu-user__body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.menu-user__header {
  display: flex;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid #E1E1E1;
  margin-bottom: 15px;
}

.menu-user__image {
  width: 50px;
  height: 50px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.menu-user__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu-user__data {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.menu-user__name {
  font-size: 1.0625rem;
}

.menu-user__status {
  width: 24px;
  height: 24px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
}

.menu-user__status img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.menu-user__mail {
  font-size: 0.9375rem;
  color: #c3c3c3;
}

.menu-user__close {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 200;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-user__close svg {
  width: 24px;
  height: 24px;
  stroke: #c3c3c3;
  stroke-width: 2px;
}

.menu-user .user-menu__list {
  grid-template-columns: 1fr;
  gap: 0;
}

.menu-user .user-menu__item {
  border: none;
  border-bottom: 1.5px solid #ebebeb;
  border-radius: 0;
}

.error__body {
  height: var(--app-height);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.error__header {
  margin-bottom: 70px;
  padding-left: 50px;
}

.error__content {
  background: linear-gradient(180deg, #F2F7FF 0%, #F7FAFF 100%);
  border-radius: 16px;
  margin-bottom: 75px;
  display: flex;
  position: relative;
}

.error__content p {
  max-width: 400px;
  font-size: 1.125rem;
  margin-bottom: 32px;
}

.error__info {
  flex: 1 1 auto;
  padding: 60px 10px 60px 50px;
  min-width: 460px;
  position: relative;
  z-index: 1;
}

.error__title {
  text-align: left;
  margin-bottom: 16px;
}

.error__btns {
  display: flex;
  align-items: center;
}

.error__btn {
  height: 48px;
}

.error__btn:not(:last-child) {
  margin-right: 16px;
}

.error__images {
  position: relative;
  flex: 0 1 699px;
}

.error__image {
  position: absolute;
  bottom: 0;
  left: 0;
}

.error__image:first-child {
  bottom: 10px;
  left: 260px;
  width: 262px;
  height: 447px;
}

.error__image:first-child img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.error__image:last-child {
  width: 699px;
  height: 226px;
}

.error__image:last-child img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.error__footer {
  color: #C3C3C3;
  padding-left: 50px;
}

@media (min-width: 481px) {
  .notifications-header:hover .notifications-header__help {
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0);
    pointer-events: all;
  }

  .login-header:hover .login-header__help {
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0);
    pointer-events: all;
  }
}

@media (max-width: 1236px) {
  .header__body {
    height: calc(64px + 25 * (100vw - 320px) / 916);
  }

  .header__logo {
    height: calc(20px + 10 * (100vw - 320px) / 916);
    width: calc(97px + 33 * (100vw - 320px) / 916);
  }

  .notifications-header {
    margin-right: calc(33px + 15 * (100vw - 320px) / 916);
  }
}

@media (max-width: 1000px) {
  .header__body::after {
    display: block;
  }

  .header__logo {
    margin-right: 15px;
  }

  .header__options {
    margin-left: 0;
  }

  .menu__icon {
    display: block;
  }

  .menu__body {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100vw;
    height: calc(var(--app-height) - 54px);
    background: #fff;
    padding-top: 89px;
    transition: all 0.2s linear;
    z-index: 50;
    transform: translate(-50%, -110%);
    overflow-y: auto;
    scrollbar-width: none;
  }

  .menu__body::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  .menu__body._active {
    transform: translate(-50%, 0);
  }

  .menu__list {
    flex-direction: column;
    padding: 0 20px;
  }

  .menu__item {
    border-bottom: 1px solid #ebebeb;
    padding: 16px 0;
  }

  .menu__item_sub {
    display: none;
  }

  .menu__link svg {
    display: block;
  }

  .menu__sub-list {
    position: relative;
    top: unset;
    right: unset;
    box-shadow: unset;
    transform: translate(0, 0);
    visibility: visible;
    opacity: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
  }

  .menu__sub-item {
    padding: 16px 0;
    border-bottom: 1px solid #ebebeb;
  }

  .menu__sub-link svg {
    display: block;
  }

  .menu__title {
    display: block;
    text-align: left;
    padding: 0 20px;
    margin-bottom: 10px;
  }

  .error__header {
    padding-left: 0;
  }

  .error__btn:not(:last-child) {
    background: #fff;
  }

  .error__btn:not(:last-child):hover {
    background: #1e9d7d;
  }

  .error__footer {
    padding-left: 0;
  }
}

@media (max-width: 1000px) and (max-width: 768px) {
  .menu__body {
    height: calc(var(--app-height) - 54px - 68px);
  }
}

@media (max-width: 992px) {
  .error__info {
    padding-left: 20px;
  }

  .error__image:first-child {
    left: 0;
  }

  .error__image:last-child {
    left: -80px;
  }
}

@media (max-width: 768px) {
  .navigation {
    display: none;
  }

  .error__header {
    margin-bottom: 60px;
    padding-left: 10px;
  }

  .error__content {
    border-radius: 0;
    margin: 0 -10px 60px;
  }

  .error__footer {
    padding-left: 10px;
  }
}

@media (max-width: 680px) {
  .error__info {
    flex: 1 1 auto;
  }

  .error__images {
    flex: 0 0 180px;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 180px;
  }
}

@media (max-width: 576px) {
  .rating__count {
    display: block;
    margin-top: 3px;
  }

  .require.error {
    background: #fff;
  }

  .menu-user {
    position: fixed;
    top: unset;
    bottom: 0;
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    transform: translate(0, 0);
  }

  .menu-user::before {
    content: "";
    position: fixed;
    width: 100vw;
    height: var(--app-height);
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }

  .menu-user.active .menu-user__wrapper {
    transform: translate(0, 0);
  }

  .menu-user__wrapper {
    border-radius: 16px 16px 0 0;
    transform: translate(0, 100%);
  }

  .error {
    background: linear-gradient(180deg, #F2F7FF 0%, #F7FAFF 100%);
  }

  .error__header {
    margin-bottom: 0;
  }

  .error__content {
    background: none;
    margin-bottom: 0;
  }

  .error__content p {
    margin-bottom: 16px;
  }

  .error__info {
    min-width: unset;
  }

  .error__title {
    margin-bottom: 8px;
  }

  .error__btns {
    flex-direction: column;
    align-items: flex-start;
  }

  .error__btn:not(:last-child) {
    margin: 0 0 8px;
  }
}

@media (max-width: 480px) {
  .title1 {
    font-size: 1.5rem;
  }

  .title2 {
    font-size: 1.375rem;
  }

  .title3 {
    font-size: 1.375rem;
  }

  .btn_white {
    font-size: 1.0625rem;
  }

  .btn_grey {
    font-size: 1.0625rem;
  }

  .btn_cancel {
    font-size: 1.0625rem;
  }

  .require__error {
    font-size: 1.0625rem;
    margin-bottom: 16px;
  }

  .header__login {
    max-width: 24px;
    margin-right: 15px;
  }

  .header__login span {
    display: none;
  }

  .lang__body {
    justify-content: center;
  }

  .lang__btn:not(:last-child) {
    margin-right: 0;
    position: relative;
    padding-right: 24px;
  }

  .lang__btn:not(:last-child)::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    -webkit-mask: url("../img/icons/icons.svg#arrow") center/contain no-repeat;
            mask: url("../img/icons/icons.svg#arrow") center/contain no-repeat;
    background: #fff;
  }

  .lang__btn:last-child {
    display: none;
  }

  .error__content p {
    font-size: 1.0625rem;
  }

  .error__info {
    flex: 0 0 60%;
  }
}