@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400%3b500%3b600&family=Rubik:wght@400%3b500%3b600&display=swap");

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

body {
  min-height: 100vh;
  min-width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

ul li,
ol li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

:root {
  --app-height: 100%;
}

body {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  color: #000;
}

body._lock,
body.lock {
  overflow: hidden;
}

.note {
  flex: 1 1 auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100vw;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.container {
  max-width: 1236px;
  margin: 0 auto;
  padding: 0 10px;
}

.title1 {
  font-family: "Rubik";
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
}

.title2 {
  font-family: "Rubik";
  font-weight: 500;
  font-size: 1.75rem;
  text-align: center;
}

.title3 {
  font-family: "Rubik";
  font-weight: 600;
  font-size: 1.375rem;
  text-align: center;
}

.read-more {
  font-size: 1.125rem;
  color: #007F5F;
  position: relative;
  transition: all 0.2s linear;
}

.read-more.disable {
  display: none;
}

.read-more:hover {
  color: #1e9d7d;
}

.read-more:hover::after {
  background: #1e9d7d;
}

.read-more::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -20px;
  transform: translate(0, -50%);
  width: 20px;
  height: 20px;
  -webkit-mask: url("../img/icons/icons.svg#arrow") center/contain no-repeat;
          mask: url("../img/icons/icons.svg#arrow") center/contain no-repeat;
  background: #007F5F;
  transition: all 0.2s linear;
}

.btn_green {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 18px;
  font-size: 1.125rem;
  color: #FFFFFF;
  background: #007F5F;
  border-radius: 8px;
  transition: all 0.2s linear;
}

.btn_green:hover {
  background: #1e9d7d;
}

.btn_green svg {
  width: 24px;
  height: 24px;
  stroke: #fff;
  stroke-width: 2px;
  margin-right: 8px;
}

.btn_green.disable {
  pointer-events: none;
  color: #D7D7D7;
  background: rgba(0, 127, 95, 0.05);
}

.btn_white {
  padding: 12px 18px;
  border: 2px solid #007F5F;
  border-radius: 8px;
  color: #007F5F;
  font-size: 1.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s linear;
}

.btn_white:hover {
  background: #1e9d7d;
  border: 2px solid #1e9d7d;
  color: #fff;
}

.btn_grey {
  padding: 12px 18px;
  border: 2px solid #C3C3C3;
  border-radius: 8px;
  color: #C3C3C3;
  font-size: 1.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s linear;
}

.btn_grey:hover {
  background: #1e9d7d;
  color: #fff;
}

.btn_red {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 18px;
  font-size: 1.125rem;
  color: #FFFFFF;
  background: #E84141;
  border-radius: 8px;
  transition: all 0.2s linear;
}

.btn_red svg {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  stroke: #fff;
  stroke-width: 2px;
}

.btn_icon {
  padding: 12px 18px;
  background: rgba(255, 255, 255, 0.5);
  border: 2px solid #EBEBEB;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s linear;
  font-size: 1.125rem;
}

.btn_icon:hover {
  border: 2px solid #007F5F;
}

.btn_icon svg {
  width: 32px;
  height: 32px;
  stroke-width: 1.5px;
  stroke: #000;
  transition: all 0.2s linear;
}

.btn_favorite svg {
  stroke-width: 0.5px;
  stroke: #000;
  fill: #000;
}

.btn_favorite svg:nth-of-type(2) {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s linear;
}

.btn_favorite.active svg {
  fill: #007F5F;
  stroke: #007F5F;
}

.btn_favorite.active svg:nth-of-type(2) {
  opacity: 1;
  visibility: visible;
}

.btn_cancel {
  padding: 12px 18px;
  border-radius: 8px;
  color: #C3C3C3;
  font-size: 1.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s linear;
}

.btn_cancel:hover {
  background: #007F5F;
  color: #fff;
}

.navigation {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  display: flex;
  justify-content: space-between;
}

.navigation__prev,
.navigation__next {
  width: 30px;
  height: 100px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.3s linear;
}

.navigation__prev:hover,
.navigation__next:hover {
  background: #F2F8F7;
}

.navigation__prev svg,
.navigation__next svg {
  width: 20px;
  height: 20px;
  stroke: #000;
}

.navigation__prev.swiper-button-disabled,
.navigation__next.swiper-button-disabled {
  pointer-events: none;
}

.navigation__prev.swiper-button-disabled svg,
.navigation__next.swiper-button-disabled svg {
  stroke: #C5C5C5;
}

.navigation__prev {
  transform: translate(-15px, 0);
}

.navigation__prev svg {
  transform: rotate(90deg);
}

.navigation__next {
  transform: translate(15px, 0);
}

.navigation__next svg {
  transform: rotate(-90deg);
}

.scrollbar {
  width: 100%;
  height: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #F5F5F5;
  border-radius: 15px;
}

.scrollbar .swiper-scrollbar-drag {
  background: #E1E1E1;
  border-radius: 15px;
  height: 100%;
}

.rating {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  line-height: 1;
  letter-spacing: 2px;
}

.rating__body {
  position: relative;
  width: 108px;
  height: 20px;
  -webkit-mask: url("../img/icons/star-rating.svg") 0 0/22px 20px repeat-x;
          mask: url("../img/icons/star-rating.svg") 0 0/22px 20px repeat-x;
  background: #DDE5D3;
}

.rating__active {
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  -webkit-mask: url("../img/icons/star-rating.svg") 0 0/22px 20px repeat-x;
          mask: url("../img/icons/star-rating.svg") 0 0/22px 20px repeat-x;
  background: #FFD600;
}

.rating__items {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating__item {
  flex: 0 0 20%;
  height: 100%;
  opacity: 0;
}

.rating__value {
  display: none;
  font-size: 50%;
  line-height: 1;
  padding: 0 0 0 10px;
}

.rating__count {
  display: none;
  color: #FFD600;
  font-size: 0.9375rem;
}

.progress-count .progress__bar {
  background: none;
  display: flex;
  gap: 5px;
}

.progress-count span {
  flex: 1 1 20%;
  border-radius: 6px;
  height: 100%;
  background: #EAEEED;
}

.progress-count span.fill {
  background: #3CBB9B;
}

.progress__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}

.progress__bar {
  background: #EAEEED;
  border-radius: 6px;
  height: 10px;
  width: 100%;
  position: relative;
}

.progress__fill {
  background: #3CBB9B;
  border-radius: 6px;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0;
}

.radio-options__item {
  padding-left: 40px;
  position: relative;
  cursor: pointer;
}

.radio-options__item:not(:last-child) {
  margin-bottom: 15px;
}

.radio-options__item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid #C3C3C3;
  transition: all 0.2s linear;
}

.radio-options__item::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 0;
  width: 24px;
  height: 24px;
  -webkit-mask: url("../img/icons/icons.svg#check-icon") center/cover no-repeat;
          mask: url("../img/icons/icons.svg#check-icon") center/cover no-repeat;
  background: #fff;
  opacity: 0;
  transform: translate(0, -50%) scale(0);
  transition: all 0.2s linear;
}

.radio-options__item._active::before {
  background: #007F5F;
  border: 2px solid #007F5F;
}

.radio-options__item._active::after {
  transform: translate(0, -50%) scale(1);
  opacity: 1;
}

.radio-options input {
  display: none;
}

.clear {
  clear: both;
}

.prompt {
  padding: 12px;
  box-shadow: 0 -2px 22px rgba(0, 0, 0, 0.12);
  background: #fff;
  position: absolute;
  top: 150%;
  right: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translate(0, 20px);
  transition: all 0.2s linear;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 8px;
}

.prompt::after {
  content: "";
  position: absolute;
  bottom: 100%;
  right: 12px;
  border-bottom: 10px solid #fff;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.require__error {
  font-size: 1.125rem;
  color: #E84141;
  display: none;
  margin-bottom: 20px;
}

.require .range-single__progress {
  background: #c3c3c3;
}

.require .range-single__value {
  opacity: 0;
}

.require.active .range-single__progress {
  background: #3cbb9b;
}

.require.error .require__error {
  display: block;
}

.gallery__elem {
  cursor: pointer;
}

.header__main {
  position: relative;
  background: #FFFFFF;
  border: 1px solid #EBEBEB;
  z-index: 101;
}

.header__body {
  height: 89px;
  display: flex;
  align-items: center;
  position: relative;
}

.header__body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 50;
  display: none;
}

.header__logo {
  display: flex;
  height: 30px;
  width: 130px;
  margin-right: 70px;
  z-index: 100;
}

.header__logo svg {
  height: 100%;
  max-width: 100%;
}

.header__options {
  display: flex;
  margin-left: 100px;
}

.header__login {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 24px;
  max-width: 75px;
  color: #000;
  font-size: 1.125rem;
  transition: all 0.2s linear;
  z-index: 100;
}

.header__login:hover {
  color: #007F5F;
}

.header__login:hover svg {
  stroke: #007F5F;
}

.header__login svg {
  height: 100%;
  max-width: 100%;
  stroke: #000;
  transition: all 0.2s linear;
}

.lang {
  background: #007F5F;
  position: relative;
  z-index: 150;
}

.lang__body {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 54px;
}

.lang__btn {
  color: #FFFFFF;
  display: flex;
  align-items: center;
}

.lang__btn:not(:last-child) {
  margin-right: 40px;
}

.lang__btn svg {
  fill: #fff;
  width: 24px;
  height: 24px;
  margin-right: 5px;
}

.menu {
  flex: 1 1 auto;
}

.menu__icon {
  position: relative;
  height: 18px;
  width: 18px;
  margin: 0 15px 0 5px;
  display: none;
  z-index: 100;
}

.menu__icon::before,
.menu__icon::after {
  content: "";
  position: absolute;
  transition: all 0.2s linear;
  width: 100%;
  height: 2px;
  left: 0;
  border-radius: 2px;
  background: #000;
}

.menu__icon::before {
  top: 4px;
}

.menu__icon::after {
  bottom: 4px;
}

.menu__icon._active::before {
  transform: rotate(45deg);
  top: 8px;
}

.menu__icon._active::after {
  transform: rotate(-45deg);
  bottom: 8px;
}

.menu__icon:hover::before,
.menu__icon:hover::after {
  background: #007F5F;
}

.menu__list {
  display: flex;
  justify-content: space-around;
}

.menu__item {
  position: relative;
  padding: 10px 0;
  cursor: pointer;
}

.menu__item.active .menu__link {
  font-weight: 500;
  color: #007F5F;
}

.menu__item:hover .menu__link {
  color: #007F5F;
}

.menu__item:hover .menu__sub-list {
  opacity: 1;
  transform: translate(0, 0);
  visibility: visible;
  pointer-events: all;
}

.menu__item_sub {
  position: relative;
  padding-right: 20px;
}

.menu__item_sub::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  transform: translate(0, -50%);
  right: 0;
  -webkit-mask: url("../img/icons/icons.svg#arrow") center/contain no-repeat;
          mask: url("../img/icons/icons.svg#arrow") center/contain no-repeat;
  background: #000;
  transition: all 0.2s linear;
}

.menu__item_sub:hover::after {
  transform: translate(0, -50%) rotate(-180deg);
  background: #007F5F;
}

.menu__link {
  color: #000;
  font-size: 1.125rem;
  transition: all 0.3s linear;
  display: flex;
  align-items: center;
}

.menu__link span {
  flex: 1 1 auto;
}

.menu__link svg {
  width: 24px;
  height: 24px;
  margin-right: 16px;
  display: none;
}

.menu__link svg:last-child {
  stroke: #EBEBEB;
  stroke-width: 2px;
}

.menu__sub-list {
  position: absolute;
  right: 0;
  top: 100%;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 250px;
  opacity: 0;
  transform: translate(0, 10px);
  visibility: hidden;
  pointer-events: none;
  transition: all 0.2s linear;
  background: #FFFFFF;
  box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.08);
  border-radius: 6px;
}

.menu__sub-item {
  padding: 12px 20px;
}

.menu__sub-item:hover .menu__sub-link {
  color: #007F5F;
}

.menu__sub-link {
  color: #000;
  font-size: 1.125rem;
  transition: all 0.3s linear;
  display: flex;
  align-items: center;
}

.menu__sub-link span {
  flex: 1 1 auto;
}

.menu__sub-link svg {
  width: 24px;
  height: 24px;
  margin-right: 16px;
  display: none;
}

.menu__sub-link svg:last-child {
  stroke: #EBEBEB;
  stroke-width: 2px;
}

.menu__title {
  display: none;
}

.notifications-header {
  position: relative;
  margin-right: 48px;
  z-index: 100;
  display: flex;
  align-items: center;
  height: 50px;
}

.notifications-header.active .notifications-header__link::after {
  display: block;
}

.notifications-header__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  position: relative;
}

.notifications-header__link::after {
  content: "";
  position: absolute;
  top: 0;
  right: 2px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #2e3192;
  display: none;
}

.notifications-header__link:hover svg {
  stroke: #007F5F;
}

.notifications-header__link svg {
  width: 100%;
  height: 100%;
  stroke-width: 2px;
  stroke: #000;
  transition: all 0.2s linear;
}

.notifications-header__help {
  position: absolute;
  top: 100%;
  right: 0;
  background: #FFFFFF;
  box-shadow: 0px 2px 22px rgba(0, 0, 0, 0.12);
  border-radius: 6px;
  padding: 20px;
  font-size: 1.125rem;
  display: block;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translate(0, 20px);
  transition: all 0.2s linear;
  color: #000;
  min-width: 250px;
}

.notifications-header__help span {
  color: #007f5f;
}

.login-header {
  position: relative;
  z-index: 100;
  display: flex;
  align-items: center;
  height: 50px;
}

.login-header__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s linear;
  font-size: 1.125rem;
}

.login-header__btn:hover {
  color: #007F5F;
}

.login-header__btn:hover svg {
  stroke: #007F5F;
}

.login-header__btn svg {
  width: 24px;
  height: 24px;
  stroke-width: 2px;
  stroke: #000;
  transition: all 0.2s linear;
}

.login-header__help {
  position: absolute;
  top: 100%;
  right: 0;
  background: #FFFFFF;
  box-shadow: 0px 2px 22px rgba(0, 0, 0, 0.12);
  border-radius: 6px;
  padding: 20px;
  font-size: 1.125rem;
  display: block;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translate(0, 20px);
  transition: all 0.2s linear;
  color: #000;
  width: 400px;
}

.login-header__help p {
  margin-bottom: 20px;
}

.login-header__reg {
  font-size: 1.125rem;
  color: #FFFFFF;
  background: #007F5F;
  border-radius: 8px;
  padding: 12px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-header {
  display: flex;
  align-items: center;
}

.user-header__image {
  width: 40px;
  height: 40px;
  min-width: 40px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  z-index: 100;
}

.user-header__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu-user {
  position: absolute;
  top: 100%;
  right: 0;
  min-width: 350px;
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 50px);
  transition: all 0.2s linear;
  z-index: 200;
}

.menu-user.active {
  opacity: 1;
  visibility: visible;
  transform: translate(0, 0);
}

.menu-user__wrapper {
  position: relative;
  z-index: 100;
  background: #fff;
  padding: 10px 20px;
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.12);
  border-radius: 6px;
  transition: all 0.2s linear;
  display: flex;
  flex-direction: column;
  max-height: 80vh;
}

.menu-user__body {
  overflow-y: auto;
  max-height: 100%;
  scrollbar-width: none;
}

.menu-user__body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.menu-user__header {
  display: flex;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid #E1E1E1;
  margin-bottom: 15px;
}

.menu-user__image {
  width: 50px;
  height: 50px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.menu-user__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu-user__data {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.menu-user__name {
  font-size: 1.0625rem;
}

.menu-user__status {
  width: 24px;
  height: 24px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
}

.menu-user__status img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.menu-user__mail {
  font-size: 0.9375rem;
  color: #c3c3c3;
}

.menu-user__close {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 200;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-user__close svg {
  width: 24px;
  height: 24px;
  stroke: #c3c3c3;
  stroke-width: 2px;
}

.menu-user .user-menu__list {
  grid-template-columns: 1fr;
  gap: 0;
}

.menu-user .user-menu__item {
  border: none;
  border-bottom: 1.5px solid #ebebeb;
  border-radius: 0;
}

.about-note,
.about-water,
.about-group,
.about-parfumer,
.about-brand {
  background: linear-gradient(126.06deg, rgba(0, 194, 255, 0.06) 0%, rgba(235, 255, 0, 0.06) 100%);
  padding: 42px 0;
  margin-bottom: 30px;
}

.about-note__body,
.about-water__body,
.about-group__body,
.about-parfumer__body,
.about-brand__body {
  display: flex;
}

.about-note__image,
.about-water__image,
.about-group__image,
.about-parfumer__image,
.about-brand__image {
  width: 250px;
  min-width: 250px;
  height: 250px;
  position: relative;
  margin: 0 82px;
  border-radius: 50%;
  overflow: hidden;
  background: url("../img/loading.gif") center/contain no-repeat;
}

.about-note__image img,
.about-water__image img,
.about-group__image img,
.about-parfumer__image img,
.about-brand__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-note__info,
.about-water__info,
.about-group__info,
.about-parfumer__info,
.about-brand__info {
  flex: 1 1 auto;
}

.about-note__header,
.about-water__header,
.about-group__header,
.about-parfumer__header,
.about-brand__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.about-note__title,
.about-water__title,
.about-group__title,
.about-parfumer__title,
.about-brand__title {
  font-family: "Rubik";
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 8px;
}

.about-note__options,
.about-water__options,
.about-group__options,
.about-parfumer__options,
.about-brand__options {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
}

.about-note__favorite,
.about-note__share,
.about-water__favorite,
.about-water__share,
.about-group__favorite,
.about-group__share,
.about-parfumer__favorite,
.about-parfumer__share,
.about-brand__favorite,
.about-brand__share {
  width: 48px;
  height: 48px;
  margin-right: 10px;
  background: rgba(255, 255, 255, 0.5);
  border: 0.8px solid #EBEBEB;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s linear;
  position: relative;
}

.about-note__favorite span,
.about-note__share span,
.about-water__favorite span,
.about-water__share span,
.about-group__favorite span,
.about-group__share span,
.about-parfumer__favorite span,
.about-parfumer__share span,
.about-brand__favorite span,
.about-brand__share span {
  position: absolute;
  white-space: nowrap;
  right: 125%;
  top: 50%;
  transform: translate(-20px, -50%);
  background: #fff;
  padding: 6px 10px;
  border-radius: 8px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 20px 20px rgba(0, 0, 0, 0.08);
  display: block;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.2s linear;
}

.about-note__favorite span::after,
.about-note__share span::after,
.about-water__favorite span::after,
.about-water__share span::after,
.about-group__favorite span::after,
.about-group__share span::after,
.about-parfumer__favorite span::after,
.about-parfumer__share span::after,
.about-brand__favorite span::after,
.about-brand__share span::after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translate(0, -50%);
  width: 0;
  height: 0;
  border-left: 8px solid #fff;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
}

.about-note__favorite:hover,
.about-note__share:hover,
.about-water__favorite:hover,
.about-water__share:hover,
.about-group__favorite:hover,
.about-group__share:hover,
.about-parfumer__favorite:hover,
.about-parfumer__share:hover,
.about-brand__favorite:hover,
.about-brand__share:hover {
  border: 2px solid #007F5F;
}

.about-note__share svg,
.about-water__share svg,
.about-group__share svg,
.about-parfumer__share svg,
.about-brand__share svg {
  width: 32px;
  min-width: 32px;
  height: 32px;
  stroke-width: 2px;
  stroke: #000;
  transition: all 0.2s linear;
}

.about-note__favorite svg,
.about-water__favorite svg,
.about-group__favorite svg,
.about-parfumer__favorite svg,
.about-brand__favorite svg {
  width: 32px;
  min-width: 32px;
  height: 32px;
  transition: all 0.2s linear;
}

.about-note__subtitle,
.about-water__subtitle,
.about-group__subtitle,
.about-parfumer__subtitle,
.about-brand__subtitle {
  font-size: 1.125rem;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 20px;
}

.about-note__desc,
.about-water__desc,
.about-group__desc,
.about-parfumer__desc,
.about-brand__desc {
  font-weight: 600;
  font-size: 1.125rem;
  margin-bottom: 10px;
}

.about-note__text,
.about-water__text,
.about-group__text,
.about-parfumer__text,
.about-brand__text {
  font-size: 1.125rem;
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  max-height: 100px;
  transition: all 0.2s linear;
}

.about-note__text.full,
.about-water__text.full,
.about-group__text.full,
.about-parfumer__text.full,
.about-brand__text.full {
  text-overflow: unset;
  display: block;
}

.about-water {
  background: linear-gradient(180deg, #EBFFFA 0%, #F6FAFF 100%);
}

.about-group {
  background: linear-gradient(135deg, #F0FBFF 0%, #FEFFF0 100%);
}

.about-parfumer {
  background: linear-gradient(180deg, #E5FFF9 0%, #F4F9FF 100%);
}

.about-parfumer__title {
  margin-right: 190px;
}

.about-parfumer__name {
  color: #C3C3C3;
  transform: translate(0, -5px);
  margin-bottom: 5px;
}

.about-parfumer__occupation {
  font-size: 1.125rem;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.about-parfumer__text {
  -webkit-line-clamp: 6;
  max-height: 150px;
}

.about-brand {
  background: linear-gradient(135deg, #FBF9FF 0%, #E7FBFF 100%);
}

.about-brand__title {
  margin-right: 190px;
}

.about-brand__type {
  font-size: 1.125rem;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.about-brand__reviews {
  color: #C3C3C3;
  margin-bottom: 20px;
  cursor: pointer;
}

.about-brand .rating {
  cursor: pointer;
  margin-bottom: 5px;
}

.about-brand .rating__value {
  display: block;
  font-family: "Rubik";
  font-size: 1.75rem;
  font-weight: 500;
  padding: 0;
  margin-right: 10px;
}

.content-note__wrapper,
.content-water__wrapper,
.content-group__wrapper,
.content-persona__wrapper,
.content-brands__wrapper,
.content-cat__wrapper,
.content-parfumer__wrapper,
.content-brand__wrapper {
  display: flex;
}

.content-note__sidebar,
.content-water__sidebar,
.content-group__sidebar,
.content-persona__sidebar,
.content-brands__sidebar,
.content-cat__sidebar,
.content-parfumer__sidebar,
.content-brand__sidebar {
  flex: 0 0 350px;
  margin-right: 30px;
  max-width: 350px;
}

.content-note__body,
.content-water__body,
.content-group__body,
.content-persona__body,
.content-brands__body,
.content-cat__body,
.content-parfumer__body,
.content-brand__body {
  flex: 1 1 auto;
  width: 100%;
  margin-bottom: 80px;
  min-width: 0;
}

.content-note__block,
.content-water__block,
.content-group__block,
.content-persona__block,
.content-brands__block,
.content-cat__block,
.content-parfumer__block,
.content-brand__block {
  padding-left: 30px;
  border-left: 1px solid #EBEBEB;
}

.content-brand__table {
  border-radius: 6px;
  border: 1px solid #EBEBEE;
  overflow: hidden;
  margin-bottom: 60px;
}

.content-brand table {
  width: 100%;
  border-collapse: collapse;
}

.content-brand tr:not(:last-child) td {
  border-bottom: 1px solid #EBEBEE;
}

.content-brand td {
  padding: 15px 10px 15px 20px;
  font-size: 1.125rem;
}

.content-brand td:nth-child(2) {
  padding: 15px 20px 15px 10px;
  text-align: right;
  text-decoration: underline;
}

.content-brand a {
  color: #000;
  transition: all 0.2s linear;
}

.content-brand a:hover {
  color: #007F5F;
}

.similar-notes__body {
  width: 100%;
  border: 1px solid #E1E1E1;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 0 30px 30px;
  margin-bottom: 40px;
}

.similar-notes__title {
  font-family: "Rubik";
  font-weight: 500;
  font-size: 1.375rem;
  background: #fff;
  transform: translate(0, -50%);
  padding: 0 30px;
}

.similar-notes__slider {
  overflow: hidden;
  width: 100%;
}

.similar-notes__wrapper {
  display: flex;
}

.similar-notes__item {
  border: 2px solid #EBEBEB;
  border-radius: 12px;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 0;
  transition: all 0.2s linear;
}

.similar-notes__item:hover {
  border: 2px solid #CCE5DF;
}

.similar-notes__item:hover .similar-notes__image {
  transform: scale(1.1);
}

.similar-notes__item:hover .similar-notes__name {
  color: #007F5F;
}

.similar-notes__image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  margin-bottom: 25px;
  background: url("../img/loading.gif") center/contain no-repeat;
  transition: all 0.5s linear;
}

.similar-notes__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.similar-notes__name {
  font-size: 1.125rem;
  color: #000;
  transition: all 0.2s linear;
}

.aromates-note__header,
.aromates-water__header,
.aromates-parfumer__header,
.aromates-brand__header,
.cat-group__header,
.cat-persona__header,
.cat-brands__header,
.items-cat__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.aromates-note__title,
.aromates-water__title,
.aromates-parfumer__title,
.aromates-brand__title,
.cat-group__title,
.cat-persona__title,
.cat-brands__title,
.items-cat__title {
  font-family: "Rubik";
  font-weight: 500;
  font-size: 1.75rem;
  margin-right: 10px;
}

.aromates-note__count,
.aromates-water__count,
.aromates-parfumer__count,
.aromates-brand__count,
.cat-group__count,
.cat-persona__count,
.cat-brands__count,
.items-cat__count {
  font-family: "Rubik";
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1;
  color: #FFFFFF;
  background: #2E3192;
  border-radius: 30px;
  padding: 2px 6px;
}

.aromates-note__form,
.aromates-water__form,
.aromates-parfumer__form,
.aromates-brand__form,
.cat-group__form,
.cat-persona__form,
.cat-brands__form,
.items-cat__form {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  background: #fff;
  border: 1px solid #EBEBEB;
  border-radius: 8px;
  padding: 15px 20px;
  margin-bottom: 20px;
}

.aromates-note__form input,
.aromates-water__form input,
.aromates-parfumer__form input,
.aromates-brand__form input,
.cat-group__form input,
.cat-persona__form input,
.cat-brands__form input,
.items-cat__form input {
  font-size: 1.125rem;
  background: none;
  border: none;
  flex: 1 1 auto;
}

.aromates-note__form input::-moz-placeholder, .aromates-water__form input::-moz-placeholder, .aromates-parfumer__form input::-moz-placeholder, .aromates-brand__form input::-moz-placeholder, .cat-group__form input::-moz-placeholder, .cat-persona__form input::-moz-placeholder, .cat-brands__form input::-moz-placeholder, .items-cat__form input::-moz-placeholder {
  opacity: 1;
  color: #C5C5C5;
}

.aromates-note__form input::placeholder,
.aromates-water__form input::placeholder,
.aromates-parfumer__form input::placeholder,
.aromates-brand__form input::placeholder,
.cat-group__form input::placeholder,
.cat-persona__form input::placeholder,
.cat-brands__form input::placeholder,
.items-cat__form input::placeholder {
  opacity: 1;
  color: #C5C5C5;
}

.aromates-note__form button,
.aromates-water__form button,
.aromates-parfumer__form button,
.aromates-brand__form button,
.cat-group__form button,
.cat-persona__form button,
.cat-brands__form button,
.items-cat__form button {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.aromates-note__form button svg,
.aromates-water__form button svg,
.aromates-parfumer__form button svg,
.aromates-brand__form button svg,
.cat-group__form button svg,
.cat-persona__form button svg,
.cat-brands__form button svg,
.items-cat__form button svg {
  width: 100%;
  height: 100%;
}

.aromates-note__tags,
.aromates-water__tags,
.aromates-parfumer__tags,
.aromates-brand__tags,
.cat-group__tags,
.cat-persona__tags,
.cat-brands__tags,
.items-cat__tags {
  display: flex;
  margin-bottom: 30px;
  overflow-x: auto;
  scrollbar-width: none;
  scrollbar-color: #5f5f5f #fff;
}

.aromates-note__tags::-webkit-scrollbar,
.aromates-water__tags::-webkit-scrollbar,
.aromates-parfumer__tags::-webkit-scrollbar,
.aromates-brand__tags::-webkit-scrollbar,
.cat-group__tags::-webkit-scrollbar,
.cat-persona__tags::-webkit-scrollbar,
.cat-brands__tags::-webkit-scrollbar,
.items-cat__tags::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.aromates-note__tags::-webkit-scrollbar-thumb,
.aromates-water__tags::-webkit-scrollbar-thumb,
.aromates-parfumer__tags::-webkit-scrollbar-thumb,
.aromates-brand__tags::-webkit-scrollbar-thumb,
.cat-group__tags::-webkit-scrollbar-thumb,
.cat-persona__tags::-webkit-scrollbar-thumb,
.cat-brands__tags::-webkit-scrollbar-thumb,
.items-cat__tags::-webkit-scrollbar-thumb {
  background: #5f5f5f;
}

.aromates-note__tag,
.aromates-water__tag,
.aromates-parfumer__tag,
.aromates-brand__tag,
.cat-group__tag,
.cat-persona__tag,
.cat-brands__tag,
.items-cat__tag {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F2F2F2;
  border-radius: 50px;
  height: 38px;
  padding: 0 15px;
  font-size: 1.125rem;
  white-space: nowrap;
}

.aromates-note__tag_all,
.aromates-water__tag_all,
.aromates-parfumer__tag_all,
.aromates-brand__tag_all,
.cat-group__tag_all,
.cat-persona__tag_all,
.cat-brands__tag_all,
.items-cat__tag_all {
  flex: 1 1 auto;
}

.aromates-note__tag:first-child,
.aromates-water__tag:first-child,
.aromates-parfumer__tag:first-child,
.aromates-brand__tag:first-child,
.cat-group__tag:first-child,
.cat-persona__tag:first-child,
.cat-brands__tag:first-child,
.items-cat__tag:first-child {
  padding: 0 7px;
}

.aromates-note__tag:last-child,
.aromates-water__tag:last-child,
.aromates-parfumer__tag:last-child,
.aromates-brand__tag:last-child,
.cat-group__tag:last-child,
.cat-persona__tag:last-child,
.cat-brands__tag:last-child,
.items-cat__tag:last-child {
  color: #007F5F;
  background: none;
  border-radius: none;
  padding: 0;
  height: unset;
  justify-content: flex-end;
}

.aromates-note__tag.active,
.aromates-water__tag.active,
.aromates-parfumer__tag.active,
.aromates-brand__tag.active,
.cat-group__tag.active,
.cat-persona__tag.active,
.cat-brands__tag.active,
.items-cat__tag.active {
  background: #FCFCFC;
  border: 2px solid #2E3192;
}

.aromates-note__tag:not(:last-child),
.aromates-water__tag:not(:last-child),
.aromates-parfumer__tag:not(:last-child),
.aromates-brand__tag:not(:last-child),
.cat-group__tag:not(:last-child),
.cat-persona__tag:not(:last-child),
.cat-brands__tag:not(:last-child),
.items-cat__tag:not(:last-child) {
  margin-right: 5px;
}

.aromates-note__tag button,
.aromates-water__tag button,
.aromates-parfumer__tag button,
.aromates-brand__tag button,
.cat-group__tag button,
.cat-persona__tag button,
.cat-brands__tag button,
.items-cat__tag button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aromates-note__tag button svg,
.aromates-water__tag button svg,
.aromates-parfumer__tag button svg,
.aromates-brand__tag button svg,
.cat-group__tag button svg,
.cat-persona__tag button svg,
.cat-brands__tag button svg,
.items-cat__tag button svg {
  width: 24px;
  height: 24px;
  stroke: #000;
}

.aromates-note__more,
.aromates-water__more,
.aromates-parfumer__more,
.aromates-brand__more,
.cat-group__more,
.cat-persona__more,
.cat-brands__more,
.items-cat__more {
  background: #F5F5F5;
  border-radius: 8px;
  padding: 12px 18px;
  font-size: 1.125rem;
  margin: 0 auto;
  display: block;
  color: #000;
  transition: all 0.2s linear;
}

.aromates-note__more:hover,
.aromates-water__more:hover,
.aromates-parfumer__more:hover,
.aromates-brand__more:hover,
.cat-group__more:hover,
.cat-persona__more:hover,
.cat-brands__more:hover,
.items-cat__more:hover {
  background: #e6e6e6;
}

.aromates-note__catalog,
.aromates-water__catalog,
.aromates-parfumer__catalog,
.aromates-brand__catalog,
.cat-group__catalog,
.cat-persona__catalog,
.cat-brands__catalog,
.items-cat__catalog {
  margin-bottom: 20px;
  padding-bottom: 30px;
  border-bottom: 1px solid #EBEBEB;
}

.breadcrumbs__body {
  height: 64px;
  display: flex;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}

.breadcrumbs__link {
  color: #A5A5A5;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s linear;
  white-space: nowrap;
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

.breadcrumbs__link.active {
  position: relative;
  opacity: 1;
  visibility: visible;
}

.breadcrumbs__link:hover {
  color: #7c7c7c;
}

.breadcrumbs__link svg {
  width: 24px;
  height: 24px;
  display: none;
}

.breadcrumbs__link:not(:last-child) {
  margin-right: 54px;
}

.breadcrumbs__link:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -37px;
  transform: translate(0, -50%) rotate(-90deg);
  width: 20px;
  height: 20px;
  -webkit-mask: url("../img/icons/icons.svg#arrow") center/contain no-repeat;
          mask: url("../img/icons/icons.svg#arrow") center/contain no-repeat;
  background: #A5A5A5;
}

.breadcrumbs__link:last-child {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  flex: 1 1 auto;
  width: 100%;
  white-space: normal;
}

.actions {
  border-bottom: 1px solid #EBEBEB;
}

.actions__body {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.actions__cat {
  padding: 15px 18px;
}

.actions__cat svg {
  stroke: none;
  fill: #fff;
  stroke-width: 0;
}

.actions__btns {
  display: flex;
  margin-right: 20px;
}

.actions__btn {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.2s linear;
  font-weight: 500;
}

.actions__btn:hover {
  color: #007F5F;
}

.actions__btn:hover svg {
  stroke: #007F5F;
}

.actions__btn:hover svg.fill {
  stroke: #007F5F;
  fill: #007F5F;
}

.actions__btn:not(:last-child) {
  margin-right: 30px;
}

.actions__btn svg {
  width: 24px;
  height: 24px;
  stroke: #000;
  stroke-width: 2px;
  transition: all 0.2s linear;
}

.actions__btn svg.fill {
  stroke: #000;
  fill: #000;
  stroke-width: 0.5px;
  transition: all 0.2s linear;
}

.actions__count {
  position: absolute;
  top: 0;
  right: 0;
  color: #FFFFFF;
  font-size: 0.875rem;
  background: #2E3192;
  border-radius: 6px;
  padding: 5px;
  line-height: 1;
  transform: translate(50%, -50%);
}

.search {
  flex: 1 1 auto;
  margin-right: 40px;
  position: relative;
}

.search.active {
  z-index: 200;
}

.search.active::before {
  opacity: 1;
  visibility: visible;
}

.search::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: var(--app-height);
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}

.search__wrapper {
  display: flex;
  align-items: center;
  background: #fff;
  border: 1px solid #EBEBEB;
  border-radius: 8px;
  padding: 15px 20px;
}

.search input {
  font-size: 1.125rem;
  background: none;
  border: none;
  flex: 1 1 auto;
}

.search input::-moz-placeholder {
  opacity: 1;
  color: #C5C5C5;
}

.search input::placeholder {
  opacity: 1;
  color: #C5C5C5;
}

.search button {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.search button svg {
  width: 100%;
  height: 100%;
  stroke: #C5C5C5;
}

.search-actions {
  flex: 1 1 auto;
  margin-left: 10px;
  margin-right: 20px;
  position: relative;
}

.search-actions.active {
  z-index: 200;
}

.search-actions.active::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

.search-actions__wrapper {
  padding: 10px;
  background: #fff;
  position: relative;
  z-index: 1;
  border-radius: 10px;
}

.search-actions__input {
  margin-bottom: 10px !important;
  border: 0.8px solid #ebebeb !important;
}

.search-actions__input.active {
  border: 0.8px solid #007F5F !important;
}

.search-actions__input:not(:last-of-type) {
  margin-bottom: 0 !important;
}

.search-actions__result {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  background: #fff;
  border-radius: 0 0 10px 10px;
  transition: all 0.2s linear;
  padding: 0 10px;
}

.search-actions__result[data-simplebar] {
  position: absolute;
}

.search-actions__result.active {
  max-height: 75vh;
  padding: 20px 10px;
  overflow-y: auto;
  transform: translate(0, -10px);
}

.block-search {
  display: flex;
  flex-direction: column;
}

.block-search:not(:last-child) {
  margin-bottom: 15px;
}

.block-search__header {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.block-search__title {
  font-size: 1.125rem;
  font-weight: 600;
}

.block-search__count {
  font-size: 1.125rem;
  font-weight: 600;
  color: #C3C3C3;
  margin-left: 5px;
}

.block-search__list {
  margin-bottom: 5px;
  flex: 0 0 180px;
  overflow: hidden;
}

.block-search__list.active {
  flex: 1 1 auto;
}

.block-search__link {
  display: flex;
  align-items: center;
  padding: 10px 10px 10px 0;
  transition: all 0.2s linear;
}

.block-search__link:hover {
  background: rgba(0, 127, 95, 0.05);
  padding-left: 10px;
}

.block-search__link:hover .block-search__name {
  color: #007F5F;
}

.block-search__link:hover .block-search__img img {
  transform: translate(-50%, -50%) scale(1.05);
}

.block-search__image {
  width: 80px;
  height: 66px;
  border-radius: 8px;
  border: 1px solid #CCE5DF;
  background: #fff;
  overflow: hidden;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.block-search__image picture {
  width: 100%;
  height: 100%;
  position: relative;
}

.block-search__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  transition: all 0.5s linear;
}

.block-search__name {
  font-size: 1.125rem;
  color: #000;
  transition: all 0.2s linear;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.block-search__desc {
  color: #C3C3C3;
}

.block-search__footer {
  border-radius: 8px;
  background: rgba(0, 127, 95, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 0;
}

.block-search__btn {
  color: #007F5F;
  display: flex;
  align-items: center;
}

.block-search__btn span:nth-child(2) {
  display: none;
}

.block-search__btn.active svg {
  transform: rotate(-180deg);
}

.block-search__btn.active span:nth-child(1) {
  display: none;
}

.block-search__btn.active span:nth-child(2) {
  display: block;
}

.block-search__btn svg {
  width: 14px;
  height: 14px;
  stroke: #007F5F;
  stroke-width: 1.5px;
  margin-left: 10px;
  transition: all 0.2s linear;
}

.block-search_articles .block-search__image {
  min-width: 80px;
  overflow: hidden;
  padding: 0;
  position: relative;
}

.block-search_articles .block-search__image picture {
  width: unset;
  height: unset;
  position: unset;
}

.block-search_articles .block-search__image img {
  -o-object-fit: cover;
     object-fit: cover;
}

.input {
  position: relative;
  border: 2px solid #C3C3C3;
  border-radius: 6px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 55px;
  transition: all 0.2s linear;
  flex: 1 1 auto;
}

.input.active {
  border: 2px solid #007F5F;
}

.input.active label {
  top: 0;
  background: #fff;
  font-size: 1rem;
  padding: 0 10px;
  left: 10px;
  color: #007F5F;
}

.input.active .input-list {
  opacity: 1;
  visibility: visible;
  transform: translate(0, 5px);
}

.input.full label {
  top: 0;
  background: #fff;
  font-size: 1rem;
  padding: 0 10px;
  left: 10px;
  color: #C3C3C3;
}

.input.full.active label {
  color: #007F5F;
}

.input.error {
  border: 1px solid #E84141;
}

.input.error label {
  color: #E84141;
}

.input.error.active label {
  color: #E84141;
}

.input.error .input__error {
  display: block;
}

.input:not(:last-of-type) {
  margin-bottom: 20px;
}

.input input {
  flex: 1 1 auto;
  border: none;
  font-size: 1.125rem;
  width: 50px;
}

.input label {
  font-size: 1.125rem;
  color: #C3C3C3;
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translate(0, -50%);
  pointer-events: none;
  transition: all 0.2s linear;
}

.input__error {
  color: #E84141;
  display: none;
  margin-top: 10px;
  position: absolute;
  left: 0;
  top: 100%;
}

.input button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.input button svg {
  width: 24px;
  height: 24px;
  stroke: #C5C5C5;
}

.input-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #fff;
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 20px);
  transition: all 0.2s linear;
  box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  max-height: 220px;
  overflow-y: auto;
  z-index: 2;
}

.input-list__item {
  cursor: pointer;
  transition: all 0.2s linear;
  padding: 10px 20px;
  font-size: 1.125rem;
}

.input-list__item:hover {
  background: rgb(139, 139, 139);
}

@media (min-width: 481px) {
  .notifications-header:hover .notifications-header__help {
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0);
    pointer-events: all;
  }

  .login-header:hover .login-header__help {
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0);
    pointer-events: all;
  }
}

@media (min-width: 768px) {
  .about-note__favorite:hover span,
  .about-note__share:hover span,
  .about-water__favorite:hover span,
  .about-water__share:hover span,
  .about-group__favorite:hover span,
  .about-group__share:hover span,
  .about-parfumer__favorite:hover span,
  .about-parfumer__share:hover span,
  .about-brand__favorite:hover span,
  .about-brand__share:hover span {
    opacity: 1;
    visibility: visible;
    transform: translate(0, -50%);
  }
}

@media (max-width: 1240px) {
  .content-note__sidebar,
  .content-water__sidebar,
  .content-group__sidebar,
  .content-persona__sidebar,
  .content-brands__sidebar,
  .content-cat__sidebar,
  .content-parfumer__sidebar,
  .content-brand__sidebar {
    flex: unset;
    margin-right: 0;
  }

  .content-note__block,
  .content-water__block,
  .content-group__block,
  .content-persona__block,
  .content-brands__block,
  .content-cat__block,
  .content-parfumer__block,
  .content-brand__block {
    padding-left: 0;
    border-left: none;
  }

  .similar-notes {
    padding: 0 15px;
  }

  .similar-notes__body {
    margin-bottom: 30px;
  }
}

@media (max-width: 1236px) {
  .header__body {
    height: calc(64px + 25 * (100vw - 320px) / 916);
  }

  .header__logo {
    height: calc(20px + 10 * (100vw - 320px) / 916);
    width: calc(97px + 33 * (100vw - 320px) / 916);
  }

  .notifications-header {
    margin-right: calc(33px + 15 * (100vw - 320px) / 916);
  }

  .about-note__image,
  .about-water__image,
  .about-group__image,
  .about-parfumer__image,
  .about-brand__image {
    margin: 0 calc(20px + 62 * (100vw - 768px) / 468);
  }

  .aromates-note__form,
  .aromates-water__form,
  .aromates-parfumer__form,
  .aromates-brand__form,
  .cat-group__form,
  .cat-persona__form,
  .cat-brands__form,
  .items-cat__form {
    padding: calc(10px + 5 * (100vw - 320px) / 916);
  }

  .aromates-note__form input,
  .aromates-water__form input,
  .aromates-parfumer__form input,
  .aromates-brand__form input,
  .cat-group__form input,
  .cat-persona__form input,
  .cat-brands__form input,
  .items-cat__form input {
    font-size: calc(1.0625rem + 1 * (100vw - 20rem) / 916);
  }

  .search {
    padding: calc(10px + 5 * (100vw - 320px) / 916);
  }

  .search input {
    font-size: calc(1.0625rem + 1 * (100vw - 20rem) / 916);
  }
}

@media (max-width: 1200px) {
  .about-note__options,
  .about-water__options,
  .about-group__options,
  .about-parfumer__options,
  .about-brand__options {
    flex-direction: column-reverse;
    align-items: flex-end;
  }

  .about-note__favorite,
  .about-note__share,
  .about-water__favorite,
  .about-water__share,
  .about-group__favorite,
  .about-group__share,
  .about-parfumer__favorite,
  .about-parfumer__share,
  .about-brand__favorite,
  .about-brand__share {
    margin-right: 0;
    margin-bottom: 10px;
    order: 2;
  }

  .about-note__share,
  .about-water__share,
  .about-group__share,
  .about-parfumer__share,
  .about-brand__share {
    order: 1;
  }

  .about-note__favorite,
  .about-water__favorite,
  .about-group__favorite,
  .about-parfumer__favorite,
  .about-brand__favorite {
    order: 2;
  }

  .about-note__subscribe,
  .about-water__subscribe,
  .about-group__subscribe,
  .about-parfumer__subscribe,
  .about-brand__subscribe {
    margin-bottom: 10px;
    order: 3;
  }

  .about-note__text,
  .about-water__text,
  .about-group__text,
  .about-parfumer__text,
  .about-brand__text {
    padding-right: 58px;
  }
}

@media (max-width: 1000px) {
  .header__body::after {
    display: block;
  }

  .header__logo {
    margin-right: 15px;
  }

  .header__options {
    margin-left: 0;
  }

  .menu__icon {
    display: block;
  }

  .menu__body {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100vw;
    height: calc(var(--app-height) - 54px);
    background: #fff;
    padding-top: 89px;
    transition: all 0.2s linear;
    z-index: 50;
    transform: translate(-50%, -110%);
    overflow-y: auto;
    scrollbar-width: none;
  }

  .menu__body::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  .menu__body._active {
    transform: translate(-50%, 0);
  }

  .menu__list {
    flex-direction: column;
    padding: 0 20px;
  }

  .menu__item {
    border-bottom: 1px solid #ebebeb;
    padding: 16px 0;
  }

  .menu__item_sub {
    display: none;
  }

  .menu__link svg {
    display: block;
  }

  .menu__sub-list {
    position: relative;
    top: unset;
    right: unset;
    box-shadow: unset;
    transform: translate(0, 0);
    visibility: visible;
    opacity: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    pointer-events: all;
  }

  .menu__sub-item {
    padding: 16px 0;
    border-bottom: 1px solid #ebebeb;
  }

  .menu__sub-link svg {
    display: block;
  }

  .menu__title {
    display: block;
    text-align: left;
    padding: 0 20px;
    margin-bottom: 10px;
  }

  .about-note,
  .about-water,
  .about-group,
  .about-parfumer,
  .about-brand {
    padding: 30px 0;
  }

  .content-brand__table {
    margin-bottom: 40px;
  }

  .aromates-note__catalog,
  .aromates-water__catalog,
  .aromates-parfumer__catalog,
  .aromates-brand__catalog,
  .cat-group__catalog,
  .cat-persona__catalog,
  .cat-brands__catalog,
  .items-cat__catalog {
    margin-bottom: 24px;
    padding-bottom: 20px;
  }

  .actions {
    border-bottom: none;
  }

  .actions__btn:not(:last-child) {
    margin-right: 15px;
  }

  .search {
    margin-right: 0;
  }
}

@media (max-width: 1000px) and (max-width: 768px) {
  .menu__body {
    height: calc(var(--app-height) - 54px - 68px);
  }
}

@media (max-width: 768px) {
  .navigation {
    display: none;
  }

  .about-note__body,
  .about-water__body,
  .about-group__body,
  .about-parfumer__body,
  .about-brand__body {
    flex-direction: column;
  }

  .about-note__image,
  .about-water__image,
  .about-group__image,
  .about-parfumer__image,
  .about-brand__image {
    margin: 0 auto 30px;
  }

  .about-note__title,
  .about-water__title,
  .about-group__title,
  .about-parfumer__title,
  .about-brand__title {
    width: 100%;
    text-align: center;
  }

  .about-note__options,
  .about-water__options,
  .about-group__options,
  .about-parfumer__options,
  .about-brand__options {
    position: static;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 30px;
  }

  .about-note__favorite,
  .about-note__share,
  .about-water__favorite,
  .about-water__share,
  .about-group__favorite,
  .about-group__share,
  .about-parfumer__favorite,
  .about-parfumer__share,
  .about-brand__favorite,
  .about-brand__share {
    margin-bottom: 0;
    margin-right: 10px;
  }

  .about-note__share,
  .about-water__share,
  .about-group__share,
  .about-parfumer__share,
  .about-brand__share {
    order: 2;
  }

  .about-note__favorite,
  .about-water__favorite,
  .about-group__favorite,
  .about-parfumer__favorite,
  .about-brand__favorite {
    order: 1;
  }

  .about-note__subscribe,
  .about-water__subscribe,
  .about-group__subscribe,
  .about-parfumer__subscribe,
  .about-brand__subscribe {
    margin-bottom: 0;
    order: 3;
  }

  .about-note__subtitle,
  .about-water__subtitle,
  .about-group__subtitle,
  .about-parfumer__subtitle,
  .about-brand__subtitle {
    text-align: center;
  }

  .about-note__text,
  .about-water__text,
  .about-group__text,
  .about-parfumer__text,
  .about-brand__text {
    padding: 0;
  }

  .about-parfumer__header {
    flex-direction: column-reverse;
  }

  .about-parfumer__title {
    margin-right: 0;
  }

  .about-parfumer__name {
    text-align: center;
  }

  .about-parfumer__occupation {
    text-align: center;
  }

  .about-brand__header {
    flex-direction: column-reverse;
  }

  .about-brand__title {
    margin-right: 0;
  }

  .about-brand__type {
    text-align: center;
  }

  .about-brand__reviews {
    text-align: center;
  }

  .about-brand .rating {
    justify-content: center;
  }

  .content-note__body,
  .content-water__body,
  .content-group__body,
  .content-persona__body,
  .content-brands__body,
  .content-cat__body,
  .content-parfumer__body,
  .content-brand__body {
    margin-bottom: 60px;
  }

  .similar-notes {
    padding: 0;
  }

  .similar-notes__body {
    border: none;
    padding: 0;
  }

  .similar-notes__title {
    font-size: 1.5rem;
    align-self: flex-start;
    transform: translate(0, 0);
    padding: 0;
    margin-bottom: 20px;
  }

  .similar-notes__slider {
    overflow: visible;
  }

  .similar-notes__item {
    border: 2px solid #CCE5DF;
  }

  .breadcrumbs__body {
    height: 40px;
  }

  .actions__body {
    padding-bottom: 0;
  }

  .actions__cat {
    display: none;
  }

  .actions__btns {
    display: none;
  }

  .search-actions {
    margin: 0;
  }
}

@media (max-width: 576px) {
  .rating__count {
    display: block;
    margin-top: 3px;
  }

  .require.error {
    background: #fff;
  }

  .menu-user {
    position: fixed;
    top: unset;
    bottom: 0;
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    transform: translate(0, 0);
  }

  .menu-user::before {
    content: "";
    position: fixed;
    width: 100vw;
    height: var(--app-height);
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }

  .menu-user.active .menu-user__wrapper {
    transform: translate(0, 0);
  }

  .menu-user__wrapper {
    border-radius: 16px 16px 0 0;
    transform: translate(0, 100%);
  }
}

@media (max-width: 480px) {
  .title1 {
    font-size: 1.5rem;
  }

  .title2 {
    font-size: 1.375rem;
  }

  .title3 {
    font-size: 1.375rem;
  }

  .btn_white {
    font-size: 1.0625rem;
  }

  .btn_grey {
    font-size: 1.0625rem;
  }

  .btn_cancel {
    font-size: 1.0625rem;
  }

  .require__error {
    font-size: 1.0625rem;
    margin-bottom: 16px;
  }

  .header__login {
    max-width: 24px;
    margin-right: 15px;
  }

  .header__login span {
    display: none;
  }

  .lang__body {
    justify-content: center;
  }

  .lang__btn:not(:last-child) {
    margin-right: 0;
    position: relative;
    padding-right: 24px;
  }

  .lang__btn:not(:last-child)::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    -webkit-mask: url("../img/icons/icons.svg#arrow") center/contain no-repeat;
            mask: url("../img/icons/icons.svg#arrow") center/contain no-repeat;
    background: #fff;
  }

  .lang__btn:last-child {
    display: none;
  }

  .about-note,
  .about-water,
  .about-group,
  .about-parfumer,
  .about-brand {
    margin-bottom: 24px;
  }

  .about-note,
  .about-water,
  .about-group,
  .about-parfumer,
  .about-brand {
    padding: 24px 0;
  }

  .about-note__image,
  .about-water__image,
  .about-group__image,
  .about-parfumer__image,
  .about-brand__image {
    width: 200px;
    height: 200px;
    min-width: 200px;
    margin-bottom: 24px;
  }

  .about-note__title,
  .about-water__title,
  .about-group__title,
  .about-parfumer__title,
  .about-brand__title {
    font-size: 1.5rem;
    text-align: left;
    margin-bottom: 4px;
  }

  .about-note__options,
  .about-water__options,
  .about-group__options,
  .about-parfumer__options,
  .about-brand__options {
    margin-bottom: 24px;
  }

  .about-note__subtitle,
  .about-water__subtitle,
  .about-group__subtitle,
  .about-parfumer__subtitle,
  .about-brand__subtitle {
    text-align: left;
    margin-bottom: 15px;
    font-size: 0.9375rem;
  }

  .about-note__desc,
  .about-water__desc,
  .about-group__desc,
  .about-parfumer__desc,
  .about-brand__desc {
    font-size: 1.0625rem;
    margin-bottom: 8px;
  }

  .about-note__text,
  .about-water__text,
  .about-group__text,
  .about-parfumer__text,
  .about-brand__text {
    font-size: 1.0625rem;
  }

  .about-parfumer__name {
    text-align: left;
  }

  .about-parfumer__occupation {
    text-align: left;
  }

  .about-brand__type {
    text-align: left;
  }

  .about-brand__reviews {
    text-align: left;
  }

  .about-brand .rating {
    justify-content: flex-start;
  }

  .content-note__body,
  .content-water__body,
  .content-group__body,
  .content-persona__body,
  .content-brands__body,
  .content-cat__body,
  .content-parfumer__body,
  .content-brand__body {
    margin-bottom: 40px;
  }

  .content-brand td {
    font-size: 1.0625rem;
  }

  .similar-notes__body {
    margin-bottom: 24px;
  }

  .similar-notes__title {
    font-size: 1.375rem;
  }

  .similar-notes__item {
    padding: 20px 0;
  }

  .aromates-note__title,
  .aromates-water__title,
  .aromates-parfumer__title,
  .aromates-brand__title,
  .cat-group__title,
  .cat-persona__title,
  .cat-brands__title,
  .items-cat__title {
    font-size: 1.375rem;
  }

  .aromates-note__catalog,
  .aromates-water__catalog,
  .aromates-parfumer__catalog,
  .aromates-brand__catalog,
  .cat-group__catalog,
  .cat-persona__catalog,
  .cat-brands__catalog,
  .items-cat__catalog {
    border: none;
    padding-bottom: 0;
  }

  .breadcrumbs__link {
    font-size: 0.9375rem;
  }

  .breadcrumbs__link:not(:last-child) {
    margin-right: 40px;
  }

  .breadcrumbs__link:not(:last-child)::after {
    right: -30px;
  }

  .breadcrumbs__link:first-child span {
    display: none;
  }

  .breadcrumbs__link:first-child svg {
    display: block;
  }

  .search-actions__result.active {
    max-height: 60vh;
  }

  .block-search__title {
    font-size: 1.0625rem;
  }

  .block-search__count {
    font-size: 1.0625rem;
  }

  .block-search__name {
    font-size: 1.0625rem;
  }

  .block-search__desc {
    font-size: 0.9375rem;
  }

  .input input {
    font-size: 1.0625rem;
  }
}

@media (max-width: 360px) {
  .content-note__body,
  .content-water__body,
  .content-group__body,
  .content-persona__body,
  .content-brands__body,
  .content-cat__body,
  .content-parfumer__body,
  .content-brand__body {
    margin-bottom: 32px;
  }

  .content-brand__table {
    margin-bottom: 32px;
    border: none;
  }

  .content-brand tr:last-child {
    border-bottom: 1px solid #EBEBEE;
  }

  .content-brand td {
    padding-left: 0;
  }

  .content-brand td:nth-child(2) {
    padding-right: 0;
  }
}